<template>
  <div class="item-card" @click="goToItem">
    <img class="picture" :src="listing.itemPictures[0].url" alt="temp image" />
    <div class="textArea">
      <div class="title">
        <b>{{ listing.title }}</b>
      </div>

      <div class="midRow">
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        200
        <br />
        <b>CDN${{listing.price}}</b>
        <div class="margin5"></div>
      </div>

      <div id="companyRow">
        <a :href="listing.postedBy.companyWebsite">{{listing.postedBy.companyName}}</a>
      </div>

    </div>
    <div id="add" class="addButton" @click.stop="addToCart">
      <b>Add To Cart</b>
    </div>
  </div>
</template>

<script>
import gql from "graphql-tag";
export default {
  name: "ItemCard",
  props: {
    listing: Object
  },
  methods: {
    goToItem: function() {
      const id = this.listing.id;
      this.$router.push({ path: "/single-item", query: { stuff: id } });
    },
    addToCart: async function() {
      // get quantity
      const quantity = 1;
      if (this.listing.quantity == 0) {
        alert("that item is out of stock");
        return false;
      }
      // now that quantity is fine we will attempt to update cart

      const ADD_TO_CART_MUTATION = gql`
        mutation addToCart($listingId: ID!, $quantity: Int!) {
          updateCart(listing: $listingId, quantity: $quantity) 
            
          
        }
      `;

      var listingId = this.listing.id;
      try {
        const temp = await this.$apollo.mutate({
          mutation: ADD_TO_CART_MUTATION,
          variables: {
            listingId,
            quantity
          }
        });
        if(temp.data.updateCart=="duplicate"){
          alert("item is already in cart");
          return;
        } 
        alert("congrats item added");
      } catch (err) {
        if (err.message.includes("Not authenticated")) {
          this.$router.push({ path: "/login", query: { something: true } });
          window.console.log(err);
          return;
        }
        
        alert(
          "* Error occured: Please make sure quantity was correctly ."
        );
        window.console.log(err);
      }
    }
  }
};
</script>

<style>
.item-card {
  /* background-color: whitesmoke; */
  height: 420px;
  width: 280px;
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  margin: 3rem 6rem 0 0;
  min-width: 240px;
  border: 1px solid rgb(134, 1, 1);
  border-radius: 2px;
  align-self: flex-start;
}

.item-card:hover {
  cursor: pointer;
}

.picture {
  height: 250px;
  width: 100%;

}
.margin5 {
  margin-top: 5px;
}
.textArea {
  height: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 10px;
  overflow: hidden;
}
.title {
  height: 40px;
  font-size: 22px;
  margin: 5px 5px;
  color: rgb(59, 0, 0);
}

.midRow {
  height: 42px;
  font-size: 16px;
  margin: 10px 5px 0 5px ;
}

#companyRow{
  font-size: 14px;
  text-decoration: none;
  margin: 0 5px;
}

#add {
  background-color: rgb(134, 1, 1);
  color: white;
  width: 100px;
  height: 25px;
  outline: none;
  border: none;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  align-self: flex-end;
  margin-top: auto;
  padding-top: 5px;
}
#add:hover {
  background-color: rgba(0, 68, 0, 0.747);
  cursor: pointer;
}

#add:active {
  border: none;
  background-color: rgb(197, 129, 2);
}

.checked {
  color: orange;
}
</style>