<template>
  <div>
    <button id="logout-btn" @click="logout">Logout</button>
  </div>
</template>

<script>
export default {
  name: "Logout",
  methods: {
    logout: function() {
      localStorage.removeItem("apollo-token-neway");
      localStorage.removeItem("hasCompany");
      document.getElementById("header-account-status").innerHTML = "Login";
      document.getElementById("logout").style.display = "none";
      this.$router.push("/");
    }
  }
};
</script>

<style scoped>
#logout-btn{
  height: 40px;
}

#logout-btn:hover{
  cursor: pointer;
}
</style>