<template>
  <div class="search-bar">
    <form id="searchForm" v-on:submit.prevent="sendSearch">
    <input id="searchtext" type="text" name="query" placeholder="搜索" />
    <button id="searchsubmit" type="submit" value="Submit" >
      <svg
        version="1.1"
        id="search-icon"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 56.966 56.966"
        style="enable-background:new 0 0 56.966 56.966;"
        xml:space="preserve"
      >
        <path
          d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23
	s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92
	c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17
	s-17-7.626-17-17S14.61,6,23.984,6z"
        />
      </svg>
    </button>
    </form>
  </div>
</template>

<script>
export default {
  name: "SearchBar",
  methods: {
    sendSearch: function() {
      const searchPhrase = document.querySelector("#searchtext");
      this.$router.push({ path: "/search",  query: { q: searchPhrase.value }  })

    }
  }
};
</script>

<style>
.search-bar {
  display: block;
  flex-direction: row;
  width: 10rem;
  height: 2rem;
  margin: 1rem auto;
  transform: translateY(.5rem);
}

#searchForm{
    display: flex;
    width: 100%;
    height: 100%;
}

#searchtext {
  display: inline-block;
  order: 0;
  width: 80%;
  border-left: 0;
  border-top: 0;
  background: rgba(238, 238, 238, 0.404);
  font-size: 16px;
  padding-left: 10px;
}
#searchsubmit {
  display: inline-block;
  order: 1;
  width: 40px;
  height: 2rem;
  z-index: 10;
  padding: 0;
  margin: 0;
  border-width: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
#searchsubmit:hover {
  /* background-color: rgb(253, 201, 59); */
  cursor: pointer;
}
#search-icon {
  margin: 0;
  height: 60%;
  width: 60%;
}
</style>