
<template>
  <!-- TO DO LIST: MAKE SURE INPUT FOR QUANTITY IS HANDLED PROPERLY -->
  <div class="shopping-list-card">
    <img id="shopping-cart-image" :src="listing.item.itemPictures[0].url" alt="temp_image" />
    <div class="info">
      <h2 id="product-name">{{listing.item.title}}</h2>
      <div id="shopping-cart-item-flex-container">
        <p>
          <span class="light-text">left in stock:</span>
          {{listing.item.quantity}}
        </p>
        <div id="shl-item-info">
          <p>
            <span class="light-text">Sold by:</span>
            {{listing.item.postedBy.companyName}}
          </p>
          <div class="item-price">${{listing.item.price}}/unit</div>
        </div>

        <div class="shopping-cart-fixed-height" id="shl-item-info">
          <form>
            <span class="light-text">Quantity:</span>
            <input
              v-if="changeQuantity"
              v-model="listing.quantity"
              id="shopping-cart-quantity"
              type="text"
              name="quantity"
              class="quantity"
              v-on:keydown="validate"
            />
            <span
              v-if="!changeQuantity"
              id="shopping-cart-not-changing"
              class="quantity"
            >{{ listing.quantity }}</span>
            <input type="button" id="change-quantity" value="change quantity" @click="button" />
            <span id="quantity-error-message">* Quantity must be greater than 0</span>
          </form>
          <div class="item-price">Total price: ${{listing.item.price*listing.quantity}}</div>
        </div>
        <div id="remove" v-on:click="deletem" class="cursor-pointer">Remove</div>
      </div>
    </div>
  </div>
</template>

<script>
import gql from "graphql-tag";
export default {
  name: "ShoppingListCard",
  props: {
    listing: Object
  },
  data: function() {
    return {
      num: 0,
      changeQuantity: false,
      old_quant: 0
    };
  },

  methods: {
    deletem: async function(evt) {
      const info = {quantity: this.listing.quantity, cost: this.listing.item.price*this.listing.quantity};
      this.$emit('deleting', info);
      // Declare all variables
      // var el = document.getElementById(elementId);
      var x = evt.target;
      var parent = x.parentNode;
      var el = parent.parentNode.parentNode;
      var speed = 200;
      var seconds = speed / 1000;
      el.style.transition = "opacity " + seconds + "s ease";
      el.style.opacity = 0;
      setTimeout(function() {
        el.parentNode.removeChild(el);
      }, speed);

      const itemId = this.$props.listing.id;
      //now delete cart item from database
      const DELETE_CART_MUTATION = gql`
        mutation deleteToCart($itemId: ID!) {
          deleteCartItem(itemId: $itemId)
        }
      `;

      try {
        await this.$apollo.mutate({
          mutation: DELETE_CART_MUTATION,
          variables: {
            itemId
          }
        });
      } catch (err) {
        window.console.log(err);
        alert("da,m it");
      }
    },
    // only allows digit input 0-9 for quantity
    validate: function(evt) {
      var theEvent = evt || window.event;

      // Handle paste
      if (theEvent.type === "paste") {
        key = event.clipboardData.getData("text/plain");
      } else {
        // Handle key press
        var key = theEvent.keyCode || theEvent.which;
      }
      if (
        key == 37 ||
        key == 38 ||
        key == 39 ||
        key == 40 ||
        key == 8 ||
        key == 46
      ) {
        // Left / Up / Right / Down Arrow, Backspace, Delete keys
        return;
      }
      key = String.fromCharCode(key);
      var regex = /[0-9]|\./;
      if (!regex.test(key)) {
        theEvent.returnValue = false;
        if (theEvent.preventDefault) theEvent.preventDefault();
      }
    },
    button: async function(evt) {
      this.changeQuantity = !this.changeQuantity;
      if (this.changeQuantity) evt.target.value = "confirm change";
      else {
        evt.target.value = "change quantity";
      }

      if (!this.changeQuantity) {
        // make sure quantity is a number
        const quant = Number(
          document.getElementById("shopping-cart-quantity").value
        );
        if (quant < 1 || quant>this.$props.listing.item.quantity) {
          // document.getElementById("quantity-error-message").style.display = "inline-block";
          alert("quantity must be greater 0 and not greater than the amount in stock")
          this.changeQuantity = !this.changeQuantity;
          if (this.changeQuantity) evt.target.value = "confirm change";
          else {
            evt.target.value = "change quantity";
          }
          return;
        }
        else{
          document.getElementById("quantity-error-message").style.display = "none";
        }
        // send request to change quantity
        const itemId = this.$props.listing.id;
        //now delete cart item from database
        const UPDATE_CART_MUTATION = gql`
          mutation updateCart($itemId: ID!, $quant: Int!) {
            updateCartItem(itemId: $itemId, newQuantity: $quant)
          }
        `;

        await this.$apollo.mutate({
          mutation: UPDATE_CART_MUTATION,
          variables: {
            itemId,
            quant
          }
        });
        const info = {quantity: this.old_quant-quant, cost: this.listing.item.price*(this.old_quant-quant)};
        this.$emit('deleting', info);
      }
      else{
        this.old_quant = this.listing.quantity;
      }
    }
  }
};
</script>


<style>
#shopping-cart-item-flex-container > p {
  margin: 0px;
}
#shl-item-info > p {
  margin: 0px;
}

.shopping-list-card {
  display: flex;
  flex-direction: row;
  height: 250px;
  border: 2px solid var(--global-color-primary);
  border-bottom: 1px solid var(--global-color-primary);
  border-top: 1px solid var(--global-color-primary);
}

#shopping-cart-image {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 200px;
  min-width: 200px;
  max-height: 80%;
  border: 2px solid var(--global-color-primary);
}

#shopping-cart-item-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
  height: 125px;
}

.info {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  position: relative;
}

#shl-item-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.light-text {
  color: #808080;
}
#remove {
  text-decoration: underline;
  cursor: pointer;
  width: min-content;
}
#product-name {
  margin: 0px;
  padding-right: 2px;
  min-height: 72px;
  font-size: 1.1em;
}
.item-price {
  padding-right: 9%;
  width: 150px;
  text-align: right;
}
.quantity {
  width: 60px;
  display: inline-block;
  padding: 1px;
  border: 2px;
  height: 22px;
  margin-right: 50px;
  border-radius: 2px;
}
#shopping-cart-quantity {
  font-size: 15px;
  height: 20px;
}
.shopping-cart-fixed-height {
  height: 24px;
}
#quantity-error-message{
  color: red;
  display: none;
}
</style>
