<template>
  <div id="account-settings">
    <h3>Profile picture:</h3>
    <img v-bind:src="profilePicUrl" id="accountProfilePicture" />
    <div class="account-setting-forms">
      <input id="profileChangeButton" type="file" accept="image/*" @click="_setNull" />
      <br />
      <input
        class="updateAccountInfoBtn"
        type="button"
        value="Change Picture"
        @click="updateProfilePic"
      />
    </div>
    <h3>Email: {{user.email}}</h3>
    <div class="account-setting-forms">
      <input id="newPasswordForm" type="password" placeholder="New Password" />
      <input id="newPasswordConfirmForm" type="password" placeholder="Confirm New Password" />
      <br />
      <input
        class="updateAccountInfoBtn"
        @click="updatePassword"
        type="button"
        value="Change Password"
      />
    </div>
    <h3>Name: {{user.firstName}} {{user.middleName}} {{user.lastName}}</h3>
    <div class="account-setting-forms">
      <input id="firstNameForm" type="text" placeholder="First Name" />
      <input id="middleNameForm" type="text" placeholder="Middle Name" />
      <input id="lastNameForm" type="text" placeholder="Last Name" />
    </div>
    <h3 v-if="user.company">Comapany: {{user.company.companyName}}</h3>
    <div v-if="user.company" class="account-setting-forms">
      <input id="newCompanyNameForm" type="text" placeholder="New Company Name" />
    </div>
    <h3 v-if="user.company">Company Website: {{ user.company.companyWebsite }}</h3>
    <div v-if="user.company" class="account-setting-forms">
      <input id="newCompanyWebsiteForm" type="text" placeholder="New Company Website" />
    </div>
    <input
      class="updateAccountInfoBtn"
      @click="updateInformation"
      type="button"
      value="Update Personal Information"
    />
  </div>
</template>

<script>
import gql from "graphql-tag";

export default {
  data: function() {
    return {
      profilePicUrl: this.user.profilePicture
        ? this.user.profilePicture.url
        : "https://pngimage.net/wp-content/uploads/2018/05/default-profile-pic-png-8.png"
    };
  },
  props: {
    user: Object
  },
  methods: {
    updateInformation: async function() {
      const firstNameInput = document.querySelector("#firstNameForm").value;
      const firstName = firstNameInput ? firstNameInput : this.user.firstName;
      const middleNameInput = document.querySelector("#middleNameForm").value;
      const middleName = middleNameInput
        ? middleNameInput
        : this.user.middleName;
      const lastNameInput = document.querySelector("#lastNameForm").value;
      const lastName = lastNameInput ? lastNameInput : this.user.lastName;
      const newCompanyNameInput = document.querySelector("#newCompanyNameForm")
        .value;
      const companyName = newCompanyNameInput
        ? newCompanyNameInput
        : this.user.company.companyName;
      const newCompanyWebsiteInput = document.querySelector(
        "#newCompanyWebsiteForm"
      ).value;
      const companyWebsite = newCompanyWebsiteInput
        ? newCompanyWebsiteInput
        : this.user.company.companyWebsite;
      const fileId = "";
      try {
        const UPDATE_ACCOUNT_MUTATION = require("../../graphql/UpdateAccountInfo.gql");
        await this.$apollo.mutate({
          mutation: UPDATE_ACCOUNT_MUTATION,
          variables: {
            firstName,
            middleName,
            lastName,
            companyName,
            companyWebsite,
            fileId
          }
        });
        alert("information changed");
      } catch (err) {
        alert(err);
      }
    },
    updateProfilePic: async function() {
      const files = document.querySelector("#profileChangeButton").files;
      const file = files[0];
      const UPLOAD_MUTATION = require("../../graphql/UploadFile.gql");
      try {
        const fileIdData = await this.$apollo.mutate({
          mutation: UPLOAD_MUTATION,
          variables: {
            file
          }
        });
        alert("information changed");
        console.log(fileIdData.data.uploadFile.id);
      } catch (err) {
        alert("could not change profile picture");
        // this.showError("Could not upload picture");
      }
    },
    updatePassword: async function() {
      const passwordInital = document.querySelector("#newPasswordForm").value;
      const passwordConfirm = document.querySelector("#newPasswordConfirmForm")
        .value;
      if (passwordInital != passwordConfirm) {
        alert("mismatching passwords");
        return;
      }
      if (!passwordInital || !passwordConfirm) {
        alert("enter both the password sections");
        return;
      }
      if (passwordInital.length < 8) {
        alert("enter more than eight character for password");
      }

      const newPassword = passwordInital;
      console.log(newPassword);
      const UPDATE_PASSWORD_MUTATION = require("../../graphql/UpdatePassword.gql");
      try {
        const fileIdData = await this.$apollo.mutate({
          mutation: UPDATE_PASSWORD_MUTATION,
          variables: {
            newPassword
          }
        });
      } catch (err) {
        alert("could not change password");
        alert(err);
        // this.showError("Could not upload picture");
      }
    },
    _setNull: function(event) {
      event.target.value = null;
    }
  }
};
</script>

<style >
#account-settings {
  margin-left: 10%;
  margin-bottom: 100px;
}
#accountProfilePicture {
  max-height: 200px;
  max-width: 200px;
}
.updateAccountInfoBtn {
  margin-top: 20px;
}
.account-setting-forms input {
  margin-right: 10px;
}
</style>