<template>
  <div>
    you must click here to finalize any changes: <button @click="goBack">Save and Finish Editing</button>
    <h1>EDIT YOUR PRODUCT</h1>
    <br />
    <div class="flex-row-container">
      Title: &nbsp;
      <input
      id="title-input"
        type="text"
        class="field-input"
        :value="listing.title"
        v-if="changeTitle"
      />
      <span class="field" v-if="!changeTitle">{{listing.title}}</span>
      <button class="updateButton" id="changeTitlea" @click="updateTitle">Update Title</button>
    </div>
    <div class="flex-row-container">
      Description: &nbsp;
      <input
      id="description-input"
        type="text"
        class="field-input"
        :value="listing.description"
        v-if="changeDescription"
      />
      <span class="field" v-if="!changeDescription">{{listing.description}}</span>
      <button class="updateButton" id="changeTitleb" @click="updateDescription">Update Description</button>
    </div>
    <div class="flex-row-container">
      Price per unit: &nbsp;
      <input
      id="price-input"
        type="text"
        class="field-input"
        :value="listing.price"
        v-if="changePrice"
      />
      <span class="field" v-if="!changePrice">{{listing.price}}</span>
      <button class="updateButton" id="changeTitlec" @click="updatePrice">Update Price</button>
    </div>
    <div class="flex-row-container">
      Left in stock: &nbsp;
      <input
      id="quantity-input"
        type="text"
        class="field-input"
        :value="listing.quantity"
        v-if="changeQuantity"
      />
      <span class="field" v-if="!changeQuantity">{{listing.quantity}}</span>
      <button class="updateButton" id="changeTitled" @click="updateQuantity">Update Left In Stock</button>
    </div>
    <br />
    <div class="flex-box-container">
      <div>
        <span>Add images &nbsp;</span>
        <input type="file" accept="image/*" @change="addImages" @click="_setNull" multiple />
      </div>
        <div id="remove-message"></div>
      <span>
        <button @click="imageDeleter" id="removeImage">remove images</button>
      </span>
    </div>
    <ul>
      <li v-for="(image, index) in images" class="images" v-bind:key="image.id">
          <input class="checkbox" type="checkbox" v-if="update" >
        <img class="visible" v-lazy="image.src" style="height: 150px" v-bind:id="image.id" @click="imageFunc(index)" />
      </li>
    </ul>
    <LightBox :images="images" ref="lightbox" :show-light-box="false"></LightBox>
  </div>
</template>

<script>
import gql from "graphql-tag";
import Lightbox from "vue-easy-lightbox";
require("vue-image-lightbox/dist/vue-image-lightbox.min.css");
import LightBox from "vue-image-lightbox";
export default {
  name: "EditProduct",
  props: {
    listing: Object,
    somth: String
  },
  components: {
    LightBox
  },
  data: function() {
    return {
      images: this.$props.listing.itemPictures.map(val => ({
        src: val.url,
        id: val.id,
        thumb: val.url
      })),
      files: [], // list of files
      changeTitle: false,
      changeDescription: false,
      changePrice: false,
      changeQuantity: false,
      deleteFiles: [], // list of file ids
      update: false
    };
  },
  methods: {
    openGallery: function(index) {
      this.$refs.lightbox.showImage(index);
    },
    imageFunc: function(index) {
        if(!this.update) this.openGallery(index);
        
    },
    goBack: async function() {
      //update info and then go back]
      const l = this.listing;
      const listingId = l.id,
        title = l.title,
        description = l.description,
        quantity = l.quantity,
        price = l.price,
        imgFiles = this.files,
        delFiles = this.deleteFiles;
      const UPDATE_LISTING_MUTATION = gql`
        mutation updateListin(
          $listingId: ID!
          $title: String
          $description: String
          $price: Float
          $quantity: Int
          $imgFiles: [Upload!]
          $delFiles: [ID!]
        ) {
          updateListing(
            listingId: $listingId
            title: $title
            description: $description
            price: $price
            quantity: $quantity
            imageFiles: $imgFiles
            imageIDs: $delFiles
          )
        }
      `;
      try {
        await this.$apollo.mutate({
          mutation: UPDATE_LISTING_MUTATION,
          variables: {
            listingId,
            title,
            description,
            quantity,
            price,
            imgFiles,
            delFiles
          }
        });
        alert("listing successfully updated");
      } catch (err) {
        window.console.log(err);
      }
      //go back
      this.$emit("noEdit", "asdf");
    },
    _setNull: function(event) {
      event.target.value = null;
    },
    addImages: function() {
      this.files = event.target.files;
    },
    imageDeleter: function() {
        if(!this.update){
            this.update=true;
            document.getElementById("remove-message").innerText="select the items you want to delete by checking their checkboxes and re-clicking remove images";
        }
        else{
            this.update=false;
            const a = document.getElementsByClassName("visible");
            for (var i = 0; i < a.length; i++) {

                if(a[i].previousElementSibling.checked==true){
                    const id = a[i].id; 
                    this.deleteFiles.push(id);
                    a[i].style.display="none";
                }

            }

        }
    },
    updateTitle: function() {
      // if title is valid: update
      if(this.changeTitle)this.listing.title = document.getElementById("title-input").value;

      this.changeTitle = !this.changeTitle;
    },
    updateDescription: function() {
      if(this.changeDescription)this.listing.description =
        document.getElementById("description-input").value;

      this.changeDescription = !this.changeDescription;
    },
    updatePrice: function() {
      if(this.changePrice) this.listing.price = Number(
        document.getElementById("price-input").value
      );

      this.changePrice = !this.changePrice;
    },
    updateQuantity: function() {
      if(this.changeQuantity) this.listing.quantity = Number(
        document.getElementById("quantity-input").value
      );
      this.changeQuantity = !this.changeQuantity;
    }
  }
};
</script>

<style scoped>
button:hover {
  cursor: pointer;
}

.flex-row-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-bottom: 20px;
}

.updateButton {
  margin-left: 200px;
  display: initial;
  width: 130px;
}

.field {
  width: 400px;
}

.field-input {
  width: 400px;
  font-size: 15px;
}

.images {
  display: inline-block;
  margin: 15px;
  min-height: 200px;
  min-width: 200px;
}
.images:hover {
  cursor: pointer;
}

.active {
  display: inline-block;
}
.notactive {
  display: none;
}
.flex-box-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#removeImage{
    margin-right: 100px;
}
#removeImage:hover{
    background-color: aliceblue;
}




</style>