
<template>
<!-- TO DO LIST: MAKE SURE INPUT FOR QUANTITY IS HANDLED PROPERLY -->
  <div class="shopping-list-card">
    <img id="shopping-cart-image" v-bind:src="product_image_source" alt="temp_image" />
    <div class="info">
      <h2 id="product-name">{{product_name}}</h2>
      <div id="shopping-cart-item-flex-container">
          <p>
            <span class="light-text">left in stock: </span> {{left_in_stock}}
          </p>
         <span><span class="light-text"> Description:  </span> {{ product_description }}</span> 
          
            <div id="shl-item-info">
              <!-- <div class="price">${{price_per_unit}}/unit</div> -->
                <p>
                <span class="light-text">Sold by:</span> {{company_name}}
                </p>
                <div class="price">${{price_per_unit}}/unit</div>
            </div>
         <!-- <div id="delete-item" v-on:click="deletem" class="cursor-pointer">Remove Item From market</div> -->
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: "SellersProductCard",
  props: {
      product_image_source: String,
      product_name: String,
      left_in_stock: String,
      company_name: String,
      price_per_unit: String,
      product_description: String
      
  },
  data: function() {
    return {
      num: 0
    //   evt: event
    };
  },

  methods: {
    deletem: function(evt) {
      // Declare all variables
      // var el = document.getElementById(elementId);
      var x = evt.target;
      var parent = x.parentNode;
      var el = parent.parentNode.parentNode;
      var speed = 200;
      var seconds = speed / 1000;
      el.style.transition = "opacity " + seconds + "s ease";

      el.style.opacity = 0;
      setTimeout(function() {
        el.parentNode.removeChild(el);
      }, speed);
    },
    // only allows digit input 0-9 for quantity
    validate: function(evt) {
        var theEvent = evt || window.event;

        // Handle paste
        if (theEvent.type === 'paste') {
            key = event.clipboardData.getData('text/plain');
        } else {
        // Handle key press
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
        }
        var regex = /[0-9]|\./;
        if( !regex.test(key) ) {
            theEvent.returnValue = false;
            if(theEvent.preventDefault) theEvent.preventDefault();
        }
    }
  },
  
  
};
</script>


<style scoped>

#shopping-cart-item-flex-container > p{
    margin: 0px;
}
#shl-item-info > p{
    margin: 0px;
}

.shopping-list-card {
  display: flex;
  flex-direction: row;
  height: 250px;
  border: 2px solid var(--global-color-primary);
  border-bottom: 1px solid var(--global-color-primary);
  border-top: 1px solid var(--global-color-primary);
}

#shopping-cart-image {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 80%;
  min-width: 200px;
  max-height: 80%;
  border: 2px solid var(--global-color-primary);
}

#shopping-cart-item-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
  height: 125px;
}

.info {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  position: relative;
}

#shl-item-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.light-text {
  color: #808080;
}
#delete-item {
  text-decoration: underline;
  cursor: pointer;
  /* width: min-content; */
}
#product-name {
  margin: 0px;
  padding-right: 2px;
  min-height: 72px;
  font-size: 1.1em;
   
}
.price {
  padding-right: 9%; 
  width:150px;
  text-align: right;
}
.quantity{
    width:50px;
}
</style>
