<template>
  <div id="order-items">
    <div id="day-order-header">
      <div class="order-summary-info">
        <h4>Order Date:</h4>
        <p>{{ order.dateOrdered }}</p>
      </div>
      <div class="order-summary-info">
        <h4>Order Id:</h4>
        <p>{{order.id}}</p>
      </div>
      <div class="order-summary-info">
        <h4>Shipped To:</h4>
        <p>{{order.shippingAddress}}</p>
      </div>
      <div class="order-summary-info">
        <h4>Total Cost:</h4>
        <p>{{order.totalPrice}}</p>
      </div>
    </div>
    <div v-for="listing in order.orderListings" v-bind:key="listing.id">
      <OrderCard v-bind:orderItem="listing" />
    </div>
  </div>
</template>

<script>
import OrderCard from "./OrderCard.vue";

export default {
  name: "OrderSummary",
  props: {
    order: Object
  },
  components: {
    OrderCard
  }
};
</script>

<style>
#day-order-header {
  margin-top: 5%;
  height: 80px;
  background-color: var(--global-color-primary);
  display: flex;
  flex-direction: row;
}

.order-summary-info {
  width: 25%;
}

.order-summary-info h4 {
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 90%;
}

.order-summary-info p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 0.8em;
}
</style>