<template>
  <div class="order-card">
    <div class="item-info">
      <h5 id="item-title">{{orderItem.item.title}}</h5>
      <p id="seller-info">Sold by: <a target="_blank" v-bind:href="orderItem.item.postedBy.companyWebsite">{{orderItem.item.postedBy.companyName}}</a> </p>
      <p id="quantity-info">Quantity: {{orderItem.quantity}} Units for CA ${{orderItem.item.price}}/Unit</p>
      <h4 id="price-all-units">CA ${{totalPrice}}</h4>
    </div>
    <div class="order-buttons">
      <input type="button" value="Buy Again" @click="addToCart">
      <input type="button" value="Rate Item">
      <input type="button" value="Get Invoice">
    </div>
  </div>
</template>

<script>
import gql from 'graphql-tag'
export default {
  props:{
    orderItem: Object
  },
  data: function(){
    return {
      totalPrice:0
    }
  },
  methods:{
    addToCart: async function() {
      // get quantity
      const quantity = 1;
      const leftInStock = this.orderItem.item.leftInStock;
      if (leftInStock<1) {
        alert("* this item is currently out of stock");
        return false;
      }

      // now that quantity is fine we will attempt to update cart

      const ADD_TO_CART_MUTATION = gql`
        mutation addToCart($listingId: ID!, $quantity: Int!) {
          updateCart(listing: $listingId, quantity: $quantity) {
            id
          }
        }
      `;

      var listingId = this.$props.orderItem.item.id;
      try {
        const temp = await this.$apollo.mutate({
          mutation: ADD_TO_CART_MUTATION,
          variables: {
            listingId,
            quantity
          }
        });
        alert("congrats item added");
      } catch (err) {
        if (err.message.includes("Not authenticated")) {
          this.$router.push({ path: "/login", query: { something: true } });
        }
        alert("error: please contact _______");
      }
    }
  },
  mounted(){
    this.totalPrice=this.$props.orderItem.quantity * this.$props.orderItem.item.price;
  }
};
</script>

<style>
.order-card {
  height: 200px;
  border: 2px solid var(--global-color-primary);
  border-bottom: 20px solid var(--global-color-primary);
  display: flex;
  flex-direction: row;
}

#item-img {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 80%;
  max-height: 80%;
  border: 2px solid var(--global-color-primary);
}

.item-info{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 60%;
}

#item-title{
  margin: 0px;
  font-size: 100%;
  height: 70px;
}

#seller-info{
  margin: 0;
  margin-top: 5px;
  height: 20px;
  font-size: 80%;
}

#quantity-info{
  margin: 0;
  margin-top: 8px;
  font-size: 90%;
  height: 25px;
}

#price-all-units{
  margin: 0px;
  margin-top: 15px;
  margin-bottom: auto;
  height: 20px;
}

.order-buttons{
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.order-buttons input{
  height: 30px;
  width: 100px;
  margin-bottom: 20px;
  background-color: var(--global-color-buttons);
  /* background-color: white; */
  border-radius: 5px;
  padding: 0;
  border: none;
}

.order-buttons input:hover{
  cursor: pointer;
}


</style>