<template>
  <div id="app">
    <Header />
    <div id="main">
      <router-view />
    </div>
    <Footer />
  </div>
</template>

<script>
import Header from "./views/Header.vue";
import Footer from "./views/Footer.vue";

export default {
  name: "app",
  components: {
    Header,
    Footer
  }
};
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap');

#app {
  font-family: 'Merriweather Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --global-color-primary: rgb(155, 155, 155);
  --global-color-accent: #e85a4f;
  --global-color-buttons: #e7a242;
  --global-color-background: #eae7dc;
  background-color: white;
}

#main{
  min-height: 65vh;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}
</style>
