<template>
  <div id="banner">
        <img id="bannerLogo" src="../../pictures/altLogo.png" alt="logoBlack">
        <p id="bannerP">
            可信、可靠的商家
            <br>
            Sellers you can Trust
        </p>
        <div id="chineseItems" class="bannerItems">
            <p id="bannerP1c">
                <span class="cardTopic">誠信</span>
                <br>
                <br>
                <br>
                解决网购诚信问题，货品提供详细卖家和来源地资讯。
            </p>
            <p id="bannerP2c">
                <span class="cardTopic">弃旧迎新</span>
                <br>
                <br>
                <br>
                運用領先科技，把心頭好送到您手中。
            </p>
        </div>
        <div class="bannerItems">
            <p class="bannerP1">
                <span class="cardTopic">New Solution</span>
                <br>
                <br>
                <br>
                Solution for online shopping trust issues to guarantee reliable transactions and quality of purchase.
            </p>
            <p class="bannerP2">
                <span class="cardTopic">Breaking Walls</span>
                <br>
                <br>
                By offering detailed background information on product source and utilizing blockchain, 
                we aim to breach culture gaps and reinforce trust in an online environment.
            </p>
            <button id="dirtoAbout">了解更多 ></button>
        </div>
  </div>

</template>

<script>
export default {
    name: "Banner",
    props: {
        bannerSrc: String
    }
}
</script>

<style>
    #banner {
        height: 30rem;
        width: 80%;
        margin: 0 auto;
        background-size: cover;
        display: flex;
        flex-direction: column;
    }

    #bannerLogo {
        width: 10rem;
        margin: 3rem auto;
    }

    #bannerP {
        width: 24rem;
        margin: 0 auto;
        font-size: 38px;
        font-weight: 400;
        padding: 0;
        color: rgba(255, 0, 0, 0.76);
        text-align: center;
    }

    .bannerItems {
        display: flex;
        flex-direction: row;
        height: 50rem;
        width: 50rem;
        margin: 2rem auto;
    }

    #dirtoAbout {
        height: 3rem;
        width: 8rem;
        background: rgba(255, 0, 0, 0.76);
        border: 0;
        align-self: center;
        font-size: 14px;
        margin: 0 auto;
        font-weight: 400;
    }

    .bannerP1 {
        width: 15rem;
        margin: 0 auto;
        padding: 1rem;
        font-size: 14px;
        height: 12rem;
        align-self: center;
        color: rgba(153, 1, 1, 0.76);
        font-size: 200;
        border-radius: 2px;       
    }

    .bannerP2 {
        width: 15rem;
        margin: 0 auto;
        padding: 1rem;
        font-size: 14px;
        height: 12rem;
        align-self: center;
        color: rgba(153, 1, 1, 0.76);
    }

    #bannerP1c {
        width: 16rem;
        margin: 0 auto;
        padding: 1rem;
        font-size: 16px;
        height: 6rem;
        align-self: center;
        color: rgba(153, 1, 1, 0.76);
        font-size: 200;
        border-radius: 2px;
        font-weight: bold;
    }

    #bannerP2c {
        width: 16rem;
        margin: 0 auto;
        padding: 1rem;
        font-size: 16px;
        height: 6rem;
        align-self: center;
        color: rgba(153, 1, 1, 0.76);
        font-weight: bold;
    }

    .cardTopic {
        font-size: 20px;
        font-weight: bolder;
    }
</style>