<template>
  <div class="category-card" @click=toCategories>
    <div class="catcard_container">
      <div id="catcard_text">
        <b id="title"> {{ category.title }} </b>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CategoryCard",
  methods: {
    toCategories: function(){
      const categoryRoute = "/category/" + this.category.title 
      this.$router.push(categoryRoute);
    }
  },
  props: {
    category: Object
  }
};
</script>

<style>
.category-card {
  display: inline-block;
  height: 200px;
  width: 300px;
  border: 1px solid white;
  margin: 10px 50px;
  background: url("../../pictures/img01.png");
  background-size: cover;
}

.catcard_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

#catcard_text {
  display: flex;
  flex-direction: column;
  padding: 5px;
  background: rgb(212, 0, 0);
  color: white;
}

.category-card:hover {
  /* box-shadow: 2px 2px rgba(155, 153, 153, 0.623); */
  /* border: 2px solid #E85A4F;
  box-shadow: 2px 2px #E85A4F; */
  cursor: pointer;
}

#title {
  order: 1;

}

#card-desc {
  order: 2;

}
</style>
