<template>
  <div class="category-row">
    <ApolloQuery
      :query="gql => gql`
          query GetCategoryRow($categoryOffset: Int, $first: Int){
            categoryList(skip: $categoryOffset, first: $first){
              id
              title
              description
            }
          }`"
    >
      <template slot-scope="{ result: { loading, error, data } }">
        <!-- Loading -->
        <div v-if="loading" class="loading apollo">Loading...</div>

        <!-- Error -->
        <div v-else-if="error" class="error apollo">{{error}}</div>

        <!-- Result -->
        <div  id="cat-cards" v-else-if="data" class="">
          <!-- <div v-for="listing in data.user.shoppingCart" v-bind:key="listing.id">
            <ShoppingListCard v-bind:listing="listing" />
          </div> -->
          <div v-for="category in data.categoryList"  v-bind:key="category.id">
            <CategoryCard v-bind:category="category" />
          </div>
        </div>

        <!-- No result -->
        <div v-else class="no-result apollo">No result :(</div>
      </template>
    </ApolloQuery>
    <!-- <CategoryCard />
    <CategoryCard />
    <CategoryCard /> -->
    <!-- {{ categoryOffset }} -->
  </div>
</template>

<script>
import CategoryCard from "./CategoryCard.vue";

export default {
  name: "CategoryRow",
  components: {
    CategoryCard
  },
  data(){
    return {
      first: 4
    }
  },
  props: {
    categoryOffset: Number
  }
};
</script>

<style>
.category-row {
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  background: url("../../pictures/img02.jpg");
  background-size: cover;
  height: 400px;
}

#cat-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

</style>