<template>
  <div id="divider">
    <div id="ad-Text">
      <a href="http://www.neway-industries.com/house/index.html">
        <span id="p1">Quality built home in prestigious Quilchena area, prime location of Richmond</span>
        <br>
        <span id="p2">Featuring over 3200 sf,  5 bedrooms, 5.5 baths on a 6000 sf lot</span>
      </a>
    </div>
    <a id='ad' href="http://www.neway-industries.com/house/index.html"><img src="../../pictures/middleway-ad.jpg" alt="advert-img"></a>
    <button id="close-ad" v-on:click = "closeAd">X</button>
  </div>
</template>

<script>
export default {
  name: "Divider",
  methods: {
    closeAd: function(){
      var divider = document.getElementById('divider');
      setTimeout(function(){
        divider.style.display = "none";
      },100);
      divider.style.width = "0";
    }
  }
  
};

</script>

<style>
#divider {
  background: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  height: 8rem;
  margin: 3rem 0;
}

#ad-Text{
  text-align: center;
  height: 100%;
  background: rgba(214, 214, 214, 0.699);
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  margin-left: auto;
  width: 25rem;
  overflow: hidden;
}

#p1{
  font-weight: bolder;
  font-size: 18px;
}

#p2{
  font-size: 14px;
  margin-top: 2rem;
}

#ad{
  height: 100%;
  width: 14rem;
  overflow: hidden;
}

#ad img{
  height: 100%;
}

a{
  text-decoration: none;
  color: black;
}

#close-ad{
  width: 3rem;
  height: 100%;
  align-self: flex-start;
  margin-bottom: auto;
  background: rgba(196, 0, 0, 0.767);
  border: 0;
  font-weight: bold;
}
</style>