<template>
  <div class="page">
    <div class="container">
      <div class="container1">
        <h3>About Middleway Tech</h3>
        <p>Middeway Tech is a company aiming to bind two countries together, regardless of geological limitations. We hope to bring trusted and certified Canadian products directly to you. By having a middle gateway between China and Canada, our goal is to help providers and customers alike overcome cultural differences and work hand in hand in the future.</p>
        <h3>關於忠圖</h3>
        <p>忠圖技術希望能排除兩國地域的限制，帶動雙邊人民互動交流。本公司籍此，望能把加拿大可信且高品質產品，直接送到您的手裡。作為兩方的一個中途站，我們的目標是利用領先科技增強買賣雙方互信，幫助賣家、買家跨越文化障礙。</p>
      </div>

      <div class="container2">
        <h4>Email 电邮:</h4>
        <p>MiddlewayTech@gmail.com</p>
        <h4>Phone 电话:</h4>
        <p>+1 (778) 798-4046</p>
        <h4>Address 地址:</h4>
        <p>2480 Shell Rd Unit 3</p>
        <p>Richmond, BC V6X 2P1</p>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  name: "About"
};
</script>


<style>
.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  min-height: 50rem;
  padding-top: 2rem;
}

.container1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 200px;
  height: 460px;
  width: 600px;
  background: rgb(243, 243, 243);
  padding: 20px;
  margin: 40px auto;
}

.container2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 200px;
  height: 460px;
  width: 300px;
  background: rgb(134, 1, 1);
  color: white;
  padding: 20px;
  margin: 40px auto;
}

.bottomCards {
  display: flex;
  margin-top: 30px;
  flex-direction: row;
}
.card1 {
  padding: 10px;
  height: 120px;
  width: 200px;
  background-color: rgb(212, 211, 211);
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}
.card2 {
  padding: 10px;
  height: 120px;
  width: 200px;
  background-color: rgb(212, 211, 211);
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}
.card3 {
  padding: 10px;
  height: 120px;
  width: 200px;
  background-color: rgb(212, 211, 211);
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}
</style>