<template>
  <div id="account">
    <div id="account-options">
      <div class="order-bar">
        <div @click="openCity('account-settings')" class>
          <div
            class="order-controls"
            v-bind:class="{active: isActiveOrder}"
            @click="orderSelected('Active')"
          >
            <h3>Account Settings</h3>
            <div class="order-highlight"></div>
          </div>
        </div>
        <div @click="openCity('orders')" class>
          <div
            class="order-controls"
            v-bind:class="{active: isPreviousOrder}"
            @click="orderSelected('Previous')"
          >
            <h3>Orders</h3>
            <div class="order-highlight"></div>
          </div>
        </div>
        <div @click="openCity('sellers-menu')" class>
          <div
            class="order-controls"
            v-bind:class="{active: isCanceledOrder}"
            @click="orderSelected('Canceled')"
          >
            <h3>My Products</h3>
            <div class="order-highlight"></div>
          </div>
        </div>
        <div @click="openCity('sales')" class>
          <div
            class="order-controls"
            v-bind:class="{active: isOtherOrder}"
            @click="orderSelected('Other')"
          >
            <h3>My sales</h3>
            <div class="order-highlight"></div>
          </div>
        </div>
      </div>
    </div>
    <div id="account-tab-margin">
      <div id="control-line"></div>
      <ApolloQuery :query="require('../graphql/GetAccount.gql')" fetchPolicy="network-only">
        <template slot-scope="{ result: { loading, error, data } }">
          <!-- Loading -->
          <div v-if="loading" class="loading apollo">Loading...</div>

          <!-- Error -->
          <div v-else-if="error" class="error apollo">{{error}}</div>

          <!-- Result -->
          <div v-else-if="data" class="result apollo">
            <!-- <div id="shopping-cart-iterations" v-for="listing in data.user.shoppingCart.items" v-bind:key="listing.id">
                    <ShoppingListCard v-bind:listing=listing />
            </div>-->
            <!-- <div @load="checkCartEmpty">asdf</div> -->

            <div class="tab-content" id="account-settings">
              <AccountSettings v-bind:user="data.user" />
            </div>

            <div class="tab-content" id="orders">
              <div v-for="order in data.user.orderList" v-bind:key="order.id">
                <OrderSummary v-bind:order="order" />
              </div>
            </div>
            <div v-if="isAccountSeller" class="tab-content" id="sellers-menu">
              <div id="no-company" v-if="(!hasCompany && !companyExists)">
                <button
                  id="create-company"
                  v-if="(!creatingCompany)"
                  @click="creatingCompany=true"
                >Create Company</button>
                <div v-if="creatingCompany">
                  Company Name
                  <input id="company-name" type="text" />
                  Company Website
                  <input id="company-website" type="text" />

                  <input type="submit" value="Submit" @click="createCompany" />
                </div>
              </div>
              <div id="sellers-items" v-else-if="(!edit && (hasCompany || companyExists ))">
                <div id="add-new-product" @click="toUpload">Add A New Product</div>
                <div v-for="listing in data.user.listings" v-bind:key="listing.id">
                  <div class="account-product-edit">
                    <div :listing="listing" @click="editProduct(listing)" class="edit-border">edit</div>
                  </div>
                  <SellersProductCard
                    v-bind:company_name="listing.postedBy.companyName"
                    v-bind:price_per_unit="listing.price"
                    v-bind:left_in_stock="listing.quantity"
                    v-bind:product_name="listing.title"
                    v-bind:product_image_source="listing.itemPictures[0].url"
                    v-bind:product_description="listing.description"
                  />
                </div>
                <br />
              </div>
              <EditProduct
                id="product-editor"
                @noEdit="edit=false"
                v-else-if="(isAccountSeller && edit)"
                v-bind:listing="the_listing"
              />
            </div>
          </div>
          <!-- No result -->
          <div v-else class="no-result apollo">No result :(</div>
        </template>
      </ApolloQuery>
    </div>
  </div>
</template>

<script>
import OrderSummary from "../components/order_components/OrderSummary.vue";
import SellersProductCard from "../components/account_components/SellersProductCard.vue";
import EditProduct from "../components/account_components/EditProduct.vue";
import AccountSettings from "../components/account_components/AccountSettings.vue";
import gql from "graphql-tag";
export default {
  name: "Account",
  components: {
    OrderSummary,
    SellersProductCard,
    EditProduct,
    AccountSettings
  },
  props: {
    user: Object
  },
  data: function() {
    return {
      companyExists: false,
      creatingCompany: false,
      the_listing: 0,
      edit: false,
      cityName: "",
      isActiveOrder: true,
      isPreviousOrder: false,
      isCanceledOrder: false,
      isOtherOrder: false,
      previousTabId: "Active",
      isPlacedSuborder: true,
      isSentSuborder: false,
      previousSubTabId: "Placed",
      isAccountSeller: true
    };
  },

  methods: {
    alerten: function() {
      alert();
    },
    editProduct: function(listing) {
      this.the_listing = listing;
      this.edit = true;
    },
    openCity: function(cityName) {
      var i, tabcontent;
      tabcontent = document.getElementsByClassName("tab-content");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      document.getElementById(cityName).style.display = "block";
    },
    toUpload: function() {
      this.$router.push("/upload");
    },

    orderSelected: function(tabId) {
      // to selecte what tab is open in the order
      switch (tabId) {
        case "Active":
          this.isActiveOrder = true;
          break;
        case "Previous":
          this.isPreviousOrder = true;
          break;
        case "Canceled":
          this.isCanceledOrder = true;
          break;
        case "Other":
          this.isOtherOrder = true;
          break;
        default:
          // when no order is selected
          this.isActiveOrder = true;
      }
      // turn off previous tab
      switch (this.previousTabId) {
        case "Active":
          this.isActiveOrder = false;
          break;
        case "Previous":
          this.isPreviousOrder = false;
          break;
        case "Canceled":
          this.isCanceledOrder = false;
          break;
        case "Other":
          this.isOtherOrder = false;
          break;
        default:
          // when no order is selected
          this.isActiveOrder = true;
      }
      // set previous tab id to current tab id
      this.previousTabId = tabId;
    },
    createCompany: async function() {
      const companyWebsite = document.getElementById("company-name").value;
      const companyName = document.getElementById("company-website").value;

      const CREATE_COMPANY_MUTATION = gql`
        mutation createcomp($companyName: String!, $companyWebsite: String!) {
          createCompany(
            companyWebsite: $companyWebsite
            companyName: $companyName
          ) {
            id
          }
        }
      `;
      try {
        await this.$apollo.mutate({
          mutation: CREATE_COMPANY_MUTATION,
          variables: {
            companyName,
            companyWebsite
          }
        });

        localStorage.setItem("hasCompany", "true");
        this.hasCompany = true;
        this.companyExists = true;
        // this.creatingCompany=false;
        // this.$router.push('/account');
      } catch (err) {
        window.console.log(err);
        alert("error: unable to create company");
      }
    }
  },
  computed: {
    hasCompany: function() {
      if (localStorage.getItem("hasCompany") == "false") return false;
      return true;
    }
  }
};
</script>


<style scoped>
#account {
  margin-top: 60px;
}
#add-new-product {
  text-align: center;
  border: 1px solid;
  border-color: var(--global-color-);
}
#add-new-product:hover {
  cursor: pointer;
  color: blue;
}
.edit-border {
  border: 2px solid;
  border-color: var(--global-color-primary);
  border-bottom: none;
  padding-left: 10px;
  padding-right: 10px;
}
.account-product-edit {
  margin-top: 30px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#account-tab-margin {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  min-width: 600px;
}
#change-password {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
  /* padding-left: 200px; */
}
.tab-content {
  margin-top: 50px;
  display: none;
}

#account-options {
  margin-top: 25%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.orders {
  margin-left: 20%;
  margin-right: 20%;
  min-height: 60%;
}

.order-controls {
  width: 200px;
}

.order-controls h3 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0px;
  text-align: center;
}

.order-highlight {
  height: 5px;
}

.order-controls:hover {
  cursor: pointer;
  background-image: linear-gradient(
    to top,
    var(--global-color-primary),
    rgba(255, 0, 0, 0)
  );
}

.order-bar {
  display: flex;
  flex-direction: row;
  margin-right: 5px;
  justify-content: space-evenly;
}

#control-line {
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--global-color-accent);
}

.sub-order-highlight {
  height: 10px;
}

.sub-order-controls {
  width: 200px;
}

.sub-order-controls h3 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 25%;
}

.sub-order-controls:hover {
  cursor: pointer;
  background-image: linear-gradient(
    to bottom,
    var(--global-color-primary),
    rgba(255, 0, 0, 0)
  );
}

.active {
  background-image: linear-gradient(
    to top,
    var(--global-color-primary),
    rgba(255, 0, 0, 0)
  );
}

.activeSubOrder {
  background-image: linear-gradient(
    to bottom,
    var(--global-color-primary),
    rgba(255, 0, 0, 0)
  );
}

#day-order-header {
  margin-top: 5%;
  height: 80px;
  background-color: var(--global-color-primary);
  display: flex;
  flex-direction: row;
}

.order-summary-info {
  width: 25%;
}

.order-summary-info h4 {
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 90%;
}

.order-summary-info p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 0.8em;
}

#account-settings {
  display: block;
}
#create-company {
  width: 200px;
  height: 40px;
  font-size: 20px;
}
#create-company:hover {
  cursor: pointer;
}
#no-company {
  display: flex;
  direction: row;
  justify-content: center;
}
</style>