<template>
  <!-- TO DO FOR THIS PAGE: use fetchPolicy cache and network, because netword-only is too slow -->
  <div>

    <ApolloQuery
      :query="gql => gql`
          query{
            user{
            shoppingCart{
              subTotal  
              itemCount    
                items{
                  quantity
                  id
                  item{
                    title
                    price
                    quantity
                    postedBy{
                      companyName
                      companyWebsite
                    }
                    itemPictures{
                      url
                    }
                    
                  }
                }
            }
            }
            }`"
            fetchPolicy = 'network-only'
    >
      <template slot-scope="{ result: { loading, error, data } }">
        <!-- Loading -->
        <div v-if="loading" class="loading apollo">Loading...</div>

        <!-- Error -->
        <div v-else-if="error" class="error apollo">{{error}}</div>

        <!-- Result -->
        <div v-else-if="data" class="result apollo">
          <div id="flex-block-cart" > 
          <div class="flex-container-cart">
            <div class="another-flex-box-container-cart">
              <h1>My Shopping Cart</h1>
            </div>
            <h3 id="empty-cart-message" style="text-align: center; display:none">Your cart is empty</h3>
            <div id="shopping-card-list">
              <div
                id="shopping-cart-iterations"
                v-for="listing in data.user.shoppingCart.items"
                v-bind:key="listing.id"
              >
                <ShoppingListCard @deleting="updateVals" v-bind:listing="listing"/>
              </div>

            </div>
          </div>
          <div id="proceed-to-checkout-subtotal">
            <h4 class="subtotal-container">
              <div  id="itemCount">Subtotal ({{data.user.shoppingCart.itemCount}} items):</div>
              <div id="subTotal" style="color:var(--global-color-accent);">${{ round(data.user.shoppingCart.subTotal) }}</div>
            </h4>
            <div v-if="data.user.shoppingCart.itemCount>0" id="proceed-to-checkout" @click="proceedCheckout">Proceed to Checkout</div>
          </div>
        </div>
        </div>
        <!-- No result -->
        <div v-else class="no-result apollo">No result :(</div>
      </template>
    </ApolloQuery>
  </div>
</template>


<script>
import ShoppingListCard from "../components/cart_components/ShoppingListCard.vue";
import gql from "graphql-tag";
export default {
  name: "Cart",
  components: {
    ShoppingListCard
  },
  data: function() {
    return {
      subtotal: 0,
      first: 0,
      change: 0
    };
  },
  methods: {
    round: function(val){
      return val.toFixed(2);
    },
    checkCartEmpty: function() {
      var temp3 = document.getElementsByClassName("result apollo")[0];
      if (temp3.children.length == 0) {
        document.getElementById("empty-cart-message").style.display = "block";
        //   document.getElementById("proceed-to-checkout").style.display="none";
        document.getElementById("proceed-to-checkout-subtotal").style.height =
          "107px";
        document.getElementById("proceed-to-checkout-subtotal").innerHTML =
          "<h4 class='subtotal-container'> Subtotal (0 items):<br><div style='color:var(--global-color-accent);'>$0</div></h4>";
        document.getElementsByClassName(
          "another-flex-box-container-cart"
        )[0].style.border = "solid 1px black";
        //    document.getElementsByClassName("subtotal-container")[0].innerHTML="<h4 class='subtotal-container'> Subtotal (0 items):<br><div style='color:var(--global-color-accent);'>$0</div></h4>";
      }
    },

    updateVals: function(info){
      var a = document.getElementById("subTotal").innerText;
      a = a.match(/[0-9]+/);
      a=Number(a);
      a=a-info.cost;
      const str1 = "$"+a;
      document.getElementById("subTotal").innerText = str1;  
      // document.getElementById("subTotal").innerText = "asdfstrr";
       var b = document.getElementById("itemCount").innerText;
      b = b.match(/[0-9]+/);
      b=Number(b);
      b-=info.quantity;
      const str2 = "Subtotal (" +b+" items)"; 
      document.getElementById("itemCount").innerText = str2;  
   
    },

    updateSubtotal: function() {
      // go in each quantity and multiply by price
    },
    proceedCheckout: async function(){
      const CHECKOUT_MUTATION = gql`
        mutation checkout{
          checkOut
        }
      `;
      var CHECKOUT_SESSION_ID = "";
      try {
        CHECKOUT_SESSION_ID = await this.$apollo.mutate({
          mutation:   CHECKOUT_MUTATION
        });
      } catch (err) {
        window.console.log(err);
        alert("da,m it");
      }
      CHECKOUT_SESSION_ID = CHECKOUT_SESSION_ID.data.checkOut;
      // to avoid faulty input we will get data from backend
      
      var stripe = Stripe("pk_test_ShebKpfmrPLYHqRTwBMn52X70098H7IycL"); //public key

      stripe.redirectToCheckout({
        // Make the id field from the Checkout Session creation API response
        // available to this file, so you can provide it as parameter here
        sessionId: CHECKOUT_SESSION_ID
      }).then(function (result) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer
        // using `result.error.message`.
        alert("an error has occurred");
        window.console.log(result.error.message);
      });
    }
  },
  mounted() {
    let stripeScript = document.createElement('script');
      stripeScript.setAttribute('src', 'https://js.stripe.com/v3/');
      document.head.appendChild(stripeScript);
      stripeScript.async = true;
 
    this.checkCartEmpty();
    this.$nextTick(()=>{
    var myArray = document.querySelectorAll("#remove");
    for (let i = 0; i < myArray.length; i++) {
      this.temp_var = 1;
      myArray[i].addEventListener("click", function() {
        var temp = document.getElementById("flex-block-cart");
        var temp2 = temp.getElementsByClassName("flex-container-cart")[0];
        if (temp2.lastChild.children.length == 1) {
          document.getElementById("empty-cart-message").style.display = "block";
          //   document.getElementById("proceed-to-checkout").style.display="none";
          document.getElementById("proceed-to-checkout-subtotal").style.height =
            "107px";
          document.getElementById("proceed-to-checkout-subtotal").innerHTML =
            "<h4 class='subtotal-container'> Subtotal (0 items):<br><div style='color:var(--global-color-accent);'>$0</div></h4>";
          document.getElementsByClassName(
            "another-flex-box-container-cart"
          )[0].style.border = "solid 1px black";
        }
      });
    }
    });
    // update subtotal when changing quantity

    // update quantity when clicking proceed to check out

    // this.$forceUpdate();
  }
};
</script>

<style scoped>
#empty-cart-message {
  text-align: center;
  display: none;
}
#flex-block-cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
h1 {
  display: inline-block;
  margin-left: 22px;
}
h4.text {
  margin-top: 50px;
  margin-right: 100px;
  text-align: center;
  position: absolute;
  margin-bottom: 50px;
  margin-left: 100px;
}
#proceed-to-checkout {
  padding: 10px;
  border: 1px solid;
  border-style: groove;
  border-color: black;
  background-color: var(--global-color-buttons);
  height: 22px;
  font-weight: 800;
  text-align: center;
  text-overflow: ellipsis;
  cursor: pointer;
  border-radius: 5px;
  align-content: flex-end;
  width: 160px;
  max-width: 160px;
  min-width: 160px;
  margin-top: 21.4px;
  margin: auto;
  font-size: 15px;
}

.flex-container-cart {
  margin-left: 10%;
  margin-right: 0%;
  overflow: visible;
  min-width: 625px;
  background-color: var(--global-color-background);
  width: 70%;
}
.another-flex-box-container-cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
  background-color: var(--global-color-primary);
  margin-bottom: 0px;
  padding-bottom: 20px;
}
.subtotal-container {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: center;
}
#proceed-to-checkout-subtotal {
  height: 180px;
  width: 250px;
  min-width: 200px;
  justify-content: space-evenly;
  background-color: var(--global-color-primary);
  text-align: center;
  align-items: center;
  border: solid 1px black;
  margin-top: 60px;
  margin-right: 15px;
  margin-left: 15px;
}
</style>