<template>
  <div class="home">
    <CategoryRow categoryOffset=0 />
    <!-- <CategoryRow />
    <CategoryRow /> -->
    <Divider />
  </div>
</template>

<script>
import CategoryRow from "../components/home_components/CategoryRow.vue";
import Divider from "../components/home_components/Divider.vue";

export default {
  name: "Categories",
  components: {
    CategoryRow,
    Divider
  }
};
</script>

<style>
.home {
  width:100%;
  min-height: 80%;
  display: flex;
  flex-direction: column;
}

</style>
