<template>
  <div id="footer">
      <p>Middleway Tech &copy; 2019</p>
  </div>
</template>

<script>
export default {

}
</script>

<style>

#footer{
    /* min-height: 70px; */
    text-align: center;
    border-top: 1px solid white;
    margin: 0 auto;
    width: 100%;
    background: rgb(134, 1, 1);
    margin-top: auto;
}

#footer p{
    padding: 20px;
    margin: 0;
    font-weight: bolder;
    color: white;
    font-size: 12px;
}

</style>