<template>
  <div class="header">
    <div class="logo-div">
      <img src="../pictures/Logo_red.png" alt="logo">
      <span><h1 id="logo-text" @click=toHome>Middleway</h1></span>
    </div>

    <div class="pages-div">
      <router-link to="/">主頁</router-link>
      <router-link to="/about">簡介</router-link>
      <router-link to="/categories">類別</router-link>
      <router-link to="/upload">上載</router-link>
    </div>
    <SearchBar />
    <div id="accountContainer">        
      <p class="accountLinks"><a @click="toLogin">登錄</a></p>
      <div id="accountItems" class="accountLinks">
        <p id="accountDropdown">賬號</p>
        <div class="personal-div">
            <div class="icon-div" @click="toCart">
                <svg
                  id="shopping-cart-icon"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  width="510px"
                  height="510px"
                  viewBox="0 0 510 510"
                  style="enable-background:new 0 0 510 510;"
                  xml:space="preserve"
                >
                  <g>
                    <g id="shopping-cart">
                      <path
                        d="M153,408c-28.05,0-51,22.95-51,51s22.95,51,51,51s51-22.95,51-51S181.05,408,153,408z M0,0v51h51l91.8,193.8L107.1,306
                        c-2.55,7.65-5.1,17.85-5.1,25.5c0,28.05,22.95,51,51,51h306v-51H163.2c-2.55,0-5.1-2.55-5.1-5.1v-2.551l22.95-43.35h188.7
                        c20.4,0,35.7-10.2,43.35-25.5L504.9,89.25c5.1-5.1,5.1-7.65,5.1-12.75c0-15.3-10.2-25.5-25.5-25.5H107.1L84.15,0H0z M408,408
                        c-28.05,0-51,22.95-51,51s22.95,51,51,51s51-22.95,51-51S436.05,408,408,408z"
                      />
                    </g>
                  </g>
                </svg>
                <b>Cart</b>
            </div>
            <div class="icon-div" @click="toLogin">
                <svg
                  version="1.1"
                  id="account-icon"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 350 350"
                  style="enable-background:new 0 0 350 350;"
                  xml:space="preserve"
                >
                  <g>
                    <path
                      d="M175,171.173c38.914,0,70.463-38.318,70.463-85.586C245.463,38.318,235.105,0,175,0s-70.465,38.318-70.465,85.587
                        C104.535,132.855,136.084,171.173,175,171.173z"
                    />
                    <path
                      d="M41.909,301.853C41.897,298.971,41.885,301.041,41.909,301.853L41.909,301.853z"
                    />
                    <path
                      d="M308.085,304.104C308.123,303.315,308.098,298.63,308.085,304.104L308.085,304.104z"
                    />
                    <path
                      d="M307.935,298.397c-1.305-82.342-12.059-105.805-94.352-120.657c0,0-11.584,14.761-38.584,14.761
                        s-38.586-14.761-38.586-14.761c-81.395,14.69-92.803,37.805-94.303,117.982c-0.123,6.547-0.18,6.891-0.202,6.131
                        c0.005,1.424,0.011,4.058,0.011,8.651c0,0,19.592,39.496,133.08,39.496c113.486,0,133.08-39.496,133.08-39.496
                        c0-2.951,0.002-5.003,0.005-6.399C308.062,304.575,308.018,303.664,307.935,298.397z"
                    />
                  </g>
                </svg>
                <b id="header-account-status">{{ accountStatus }}</b>
            </div>
            <div class="icon-div" @click="toOrders">
                <svg
                  id="orders-icon"
                  height="512pt"
                  viewBox="0 0 512.00002 512"
                  width="512pt"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="m302.550781 91.089844h-30v-60.550782h-38.699219v60.550782h-30v-60.550782h-38.703124v60.550782h-30v-60.550782h-38.699219v60.550782h-30v-60.550782h-66.449219v481.460938h369v-481.460938h-66.449219zm-198.671875 315.109375-32.597656-38.96875 23.007812-19.25 12.691407 15.167969 31.097656-27.867188 20.023437 22.339844zm0-86.25-32.597656-38.980469 23.007812-19.25 12.691407 15.171875 31.097656-27.871094 20.023437 22.339844zm0-86.257813-32.597656-38.980468 23.007812-19.25 12.691407 15.167968 31.097656-27.867187 20.023437 22.339843zm192.761719 155.828125h-115.96875v-30h115.96875zm0-86.257812h-115.96875v-30h115.96875zm0-86.261719h-115.96875v-30h115.96875zm0 0"
                  />
                  <path d="m66.449219 0h30v30.539062h-30zm0 0" />
                  <path d="m135.148438 0h30v30.539062h-30zm0 0" />
                  <path d="m203.851562 0h30v30.539062h-30zm0 0" />
                  <path d="m272.550781 0h30v30.539062h-30zm0 0" />
                  <path d="m404.4375 26.480469h107.5625v82.109375h-107.5625zm0 0" />
                  <path
                    d="m404.4375 439.203125 44.925781 72.796875h17.707031l44.929688-72.796875v-26.1875h-107.5625zm0 0"
                  />
                  <path d="m404.4375 138.589844h107.5625v244.425781h-107.5625zm0 0" />
                </svg>
                <b>Orders</b>
            </div>
            <div id="logout">
              <Logout />
            </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import gql from "graphql-tag";
import SearchBar from "../components/SearchBar.vue";
import Logout from "../components/Logout.vue";

export default {
  name: "header",
  components: {
    SearchBar,
    Logout
  },
  data: function() {
    return {
      accountStatus: "Login" // Change to 'Account' after user has logged in
    };
  },
  methods: {
    toHome: function() {
      this.$router.push("/");
    },
    toCart: function() {
      // this.$router.push({ name: 'user', params: { userId: '123' } })

      if (!this.checkLoggedIn())
        this.$router.push({ path: "/login", query: { something: true } });
      else {
        this.$router.push("/cart");
      }
    },
    toOrders: function() {
      if (this.checkLoggedIn()) this.$router.push("/orders");
      else {
        this.$router.push({ path: "/login", query: { something: true } });
      }
    },
    toLogin: function() {
      if (this.checkLoggedIn()) this.$router.push("/account");
      else {
        this.$router.push("/login");
      }
    },
    loggedIn: function() {
      this.accountStatus = "Account";
    },
    checkLoggedIn: function() {
      if (localStorage.getItem("apollo-token-neway")) return true;
      return false;
    }
  },
  mounted() {
    if (localStorage.getItem("headerChange")) this.loggedIn();
    const temp = localStorage.getItem("apollo-token-neway");
    if(temp) document.getElementById("logout").style.display="block";
    if(temp) this.accountStatus = "Account";

  }
};
</script>

<style>
.header {
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 100%;
  max-width: 100rem;
  flex-wrap: wrap;
  justify-content: center;
  background: white;
  margin: 0 auto;
}

.pages-div {
  font-size: 16px;
  display: block;
  padding: 10px;
  margin: 1rem auto;
  width: 28rem;
  text-align: center;
}

.pages-div a {
  text-decoration: none;
  font-weight: 200;
  color: rgb(134, 1, 1);
  padding: 0 5px;
}

.logo-div {
  padding: 0;
  width: fit-content;
  height: 60px;
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  background: white;
}

#logo-text:hover{
  cursor: pointer;
}

.logo-div img {
  height: 2rem;
  width: 2rem;
  margin: 0 10px;
}

.logo-div h1 {
  margin: 0;
  padding: 0;
  color: black;
  width: 210px;
  height: 100%;
}

.flex_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

#accountContainer{
  display: flex;
  width: 10rem;
  height: 3rem;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.accountLinks{
  font-size: 14px;
  text-align: end;
}

.accountLinks:hover{
  cursor: pointer;
}

#accountItems:hover{
  display: block;
  margin-bottom: 0;
  height: 1rem;
}

#accountItems:hover .personal-div{
  display: block;
}

.personal-div {
  width: 6rem;
  height: 9rem;
  display: none;
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.747);
  transform: translateX(-1rem) translateY(-.5rem);
}

.icon-div svg {
  height: 1rem;
  width: 1rem;
  fill: white;
  margin-right: 1rem;
}

.icon-div {
  width: 6rem;
  height: 2rem;
  margin: 1rem 0;
  display: block;
  text-align: center;
}

.icon-div:hover {
  fill: var(--global-color-accent);
  cursor: pointer;
}

.icon-div b {
  margin: auto;
  cursor: pointer;
  font-size: 80%;
  color: white;
  /* margin-left: -2px; */
}

.icon-div:first-child b{
  margin-left: 10px;
}

#logout {
  display: none;
  margin-left: auto;
  margin-right: auto;
}
</style>