<template>
  <div id="home">
    <div v-if="query=='yes'"> Your payment has gone through. Thank you for buying with us </div>
    <Banner />
    <Divider />
    <CategoryRow categoryOffset=0 />
    <!-- <CategoryRow />
    <CategoryRow /> -->
  </div>
</template>

<script>
import Banner from "../components/home_components/Banner.vue";
import Divider from "../components/home_components/Divider.vue";

export default {
  name: "home",
  components: {
    Banner
  },
  props:{
    query: String
  }
};
</script>

<style>
#home {
  width: 100%;
  min-height: 50rem;
  display: block;
  flex-direction: column;
  background: white;
  margin: 0 auto;
  padding-top: 2rem;
}

</style>
