<template>
  <div id="login-flex-container">
    <div id="login-box">
        <h3 style="text-align:center;">Login</h3>
        <h4
          v-if="query"
          id="from-single-item"
        >You must be logged in to add an item to cart, view cart and orders</h4>
        <div id="login-form">
          <p id="login-error-message"></p>Email
          <br />
          <input type="text" name="email" id="login" />
          <br />
          <br />
          <br />Password
          <br />
          <input type="password" @keyup="enterSubmit" name="password" id="login" />
          <br />
          <br />
          <br />
          <input type="submit" id="submit-login" value="Continue>>" @click="login" />
          <br />
          <br />
          <div id="login-signup">
            <p>
              Don't have an account?
              <span id="signup-here" @click="toSignup">sign up here</span>
            </p>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
// import goBack from "../Singup.vue"
import gql from "graphql-tag";
export default {
  name: "Login",
  props: {
    query: Boolean
  },
  methods: {
    toSignup: function() {
      this.$router.push("/signup");
    },

    login: async function() {
      var email = document.getElementsByName("email")[0].value;
      if (!this.validateEmail(email)) {
        this.showError("* Invalid email was entered");
        return false;
      }
      var password = document.getElementsByName("password")[0].value;
      if (password.length == 0) {
        this.showError("* must enter password");
        return false;
      }
      const LOGIN_MUTATION = gql`
        mutation SignUp($email: String!, $password: String!) {
          login(email: $email, password: $password) {
            token
            user{
              company{
                companyName
              }
            }
          }
        }
      `;
      try {
        const temp = await this.$apollo.mutate({
          mutation: LOGIN_MUTATION,
          variables: {
            email,
            password
          }
        });
        // window.console.log(temp);
        localStorage.setItem("apollo-token-neway", temp.data.login.token);
        // localStorage.setItem("headerChange", true);
        var isCompany = "false";
        if(temp.data.login.user.company) isCompany="true";
        localStorage.setItem("hasCompany", isCompany);
        document.getElementById("header-account-status").innerHTML = "Account";
        document.getElementById("logout").style.display = "block";

        this.goBack();
      } catch(err) {
        window.console.log(err);
        this.showError("* email or password is invalid");
      }
    },
    showError: function(message) {
      document.getElementById("login-error-message").style.display = "block";
      document.getElementById("login-error-message").innerHTML = message;
      document.body.scrollTop = 120; // For Safari
      document.documentElement.scrollTop = 120; // For Chrome, Firefox, IE and Opera
    },
    validateEmail: function(mail) {
      // expression is probably the best reg ex email validator, but in case of error use re
      const expression = /(?!.*\.{2})^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
      // var re = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
      return expression.test(mail);
    },
    goBack: function() {
      this.$router.push("/");
      // window.history.length > 1 ? this.$router.go(-1) : this.$router.push("/");
    },
    enterSubmit: function(event){
      // Number 13 is the "Enter" key on the keyboard
      if (event.keyCode === 13) {
        // Cancel the default action, if needed
        event.preventDefault();
        // Trigger the button element with a click
        document.getElementById("submit-login").click();
      }
    }
  },
  mounted() {
    if (!this.fromSingleItem) this.fromSingleItem = false;

  }
};
</script>

<style>

#from-single-item {
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  background: red;
}
#login-error-message {
  color: red;
  margin: 20px auto;
}
#signup-here {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
#login-signup {
  font-size: 13px;
}
#login-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: url("../pictures/Sean_img_07.jpg");
  margin: 0;
  background-size: cover;
  width: 100%;
  min-height: 800px;
}
#login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  width: 300px;
  padding:  0;
}
#login-box h3{
  background: red;
  color: white;
  width: 80px;
  height: 25px;
}

#login{
  font-size: 16px;
  width: cover;
  height: 30px;
  border: 2px solid rgb(212, 212, 212);
  margin: 20px 0; 
}

#login-form {
  padding: 20px;
  width: 80%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background: white;
  border: 2px solid grey;
  margin: 0;
}

#submit-login {
  width: 200px;
  border-radius: 4px;
  height: 30px;
  background-color: rgb(212, 0, 0);
  cursor: pointer;
  border: 0;
  margin: 10px auto;
}
</style>