<template>
  <div class="orders">
    <h1>Orders</h1>
    <div class="order-bar">
      <div
        class="order-controls"
        v-bind:class="{active: isActiveOrder}"
        @click="orderSelected('Active')"
      >
        <h3>Active</h3>
        <div class="order-highlight"></div>
      </div>
      <div
        class="order-controls"
        v-bind:class="{active: isPreviousOrder}"
        @click="orderSelected('Previous')"
      >
        <h3>Previous</h3>
        <div class="order-highlight"></div>
      </div>
      <div
        class="order-controls"
        v-bind:class="{active: isCanceledOrder}"
        @click="orderSelected('Canceled')"
      >
        <h3>Canceled</h3>
        <div class="order-highlight"></div>
      </div>
    </div>
    <div id="control-line"></div>
    <div class="order-bar" id="sub-order-bar">
      <div
        class="sub-order-controls"
        v-bind:class="{activeSubOrder: isPlacedSuborder}"
        @click="subOrderSelected('Placed')"
      >
        <div class="sub-order-highlight"></div>
        <h3>Placed</h3>
      </div>
      <div
        class="sub-order-controls"
        v-bind:class="{activeSubOrder: isSentSuborder}"
        @click="subOrderSelected('Sent')"
      >
        <div class="sub-order-highlight"></div>
        <h3>Sent</h3>
      </div>
    </div>
    <ApolloQuery
          :query="gql => gql`
          query getOrder{
            user{
              orderList{
                id
                dateOrdered
                totalOrders
                shippingAddress
                orderListings{
                  quantity
                  item{
                    id
                    title
                    price
                    quantity
                    postedBy{
                      companyName
                      companyWebsite
                    }
                    
                  }

                }
                totalPrice
                status
              }
            }
          }`"
        >
          <template slot-scope="{ result: { loading, error, data } }">
            <!-- Loading -->
            <div v-if="loading" class="loading apollo">Loading...</div>

            <!-- Error -->
            <div v-else-if="error" class="error apollo">{{error}}</div>

            <!-- Result -->
            <div v-else-if="data" class="result apollo">
              <div v-for="listing in data.user.orderList" v-bind:key="listing.id">
                <OrderSummary v-bind:order="listing" />
              </div>
            </div>

            <!-- No result -->
            <div v-else class="no-result apollo">No result :(</div>
          </template>
        </ApolloQuery>

    <!-- <OrderSummary orderDate="September 10, 2019" orderId="#12345678910" shippingAddress="2706 Trafalgar St, Vancouver, BC V6K 2J6" totalCost="CA $1450.67" />
    <OrderSummary orderDate="September 9, 2019" orderId="#12345678910" shippingAddress="2706 Trafalgar St, Vancouver, BC V6K 2J6" totalCost="CA $1450.67" /> -->
  </div>
</template>

<script>
// import OrderCard from "../components/order_components/OrderCard.vue";
import OrderSummary from "../components/order_components/OrderSummary.vue";

export default {
  name: "Orders",
  components: {
    OrderSummary
  },
  data: function() {
    return {
      isActiveOrder: true,
      isPreviousOrder: false,
      isCanceledOrder: false,
      previousTabId: "Active",
      isPlacedSuborder: true,
      isSentSuborder: false,
      previousSubTabId: "Placed"
    };
  },
  methods: {
    orderSelected: function(tabId) {
      // to selecte what tab is open in the order
      switch (tabId) {
        case "Active":
          this.isActiveOrder = true;
          break;
        case "Previous":
          this.isPreviousOrder = true;
          break;
        case "Canceled":
          this.isCanceledOrder = true;
          break;
        default:
          // when no order is selected
          this.isActiveOrder = true;
      }
      // turn off previous tab
      switch (this.previousTabId) {
        case "Active":
          this.isActiveOrder = false;
          break;
        case "Previous":
          this.isPreviousOrder = false;
          break;
        case "Canceled":
          this.isCanceledOrder = false;
          break;
        default:
          // when no order is selected
          this.isActiveOrder = true;
      }
      // set previous tab id to current tab id
      this.previousTabId = tabId;
    },
    subOrderSelected: function(subOrderId) {
      switch (subOrderId) {
        case "Placed":
          this.isPlacedSuborder = true;
          break;
        case "Sent":
          this.isSentSuborder = true;
          break;
        default:
          this.isPlacedSuborder = true;
      }
      switch (this.previousSubTabId) {
        case "Placed":
          this.isPlacedSuborder = false;
          break;
        case "Sent":
          this.isSentSuborder = false;
          break;
        default:
          this.isPlacedSuborder = true;
      }
      this.previousSubTabId = subOrderId;
    }
  }
};
</script>

<style scoped>
.orders {
  margin-left: 20%;
  margin-right: 20%;
  min-height: 60%;
}

.order-controls {
  width: 200px;
}

.order-controls h3 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 25%;
}

.order-highlight {
  height: 5px;
}

.order-controls:hover {
  cursor: pointer;
  background-image: linear-gradient(to top, var(--global-color-primary), rgba(255, 0, 0, 0));
}

.order-bar {
  display: flex;
  flex-direction: row;
  margin-right: 5px;
}

#control-line {
  height: 5px;
  background-color: var(--global-color-accent);
}

.sub-order-highlight {
  height: 10px;
}

.sub-order-controls {
  width: 200px;
}

.sub-order-controls h3 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 25%;
}

.sub-order-controls:hover {
  cursor: pointer;
  background-image: linear-gradient(to bottom, var(--global-color-primary), rgba(255, 0, 0, 0));
}

.active {
  background-image: linear-gradient(to top, var(--global-color-primary), rgba(255, 0, 0, 0));
}

.activeSubOrder {
  background-image: linear-gradient(to bottom, var(--global-color-primary), rgba(255, 0, 0, 0));
}

#day-order-header {
  margin-top: 5%;
  height: 80px;
  background-color: var(--global-color-primary);
  display: flex;
  flex-direction: row;
}

.order-summary-info{
  width: 25%;
}

.order-summary-info h4{
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 90%;
}

.order-summary-info p{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 0.8em;
}

</style>