<template>
  <div class="wholePage">
    <!-- ---------------------this is sidebar--------------------- -->
    <div id="mySidebar" class="sidebar">
      <button class="closebtn">
        <a href="javascript:void(0)" v-on:click="closeNav()">×</a>
      </button>
      <!-- ---------------------content of sidebar--------------------- -->

      <div class="moreCateArea">
        <div class="moreCate">
          <h3>
            <b>
              <u>Category</u>
            </b>
          </h3>
          <div class="clickables">oak</div>
          <div class="clickables">cherry</div>
          <div class="clickables">chestnut</div>
          <div class="clickables">ebony</div>
          <div class="clickables">elm</div>
          <div class="clickables">hickory</div>
          <div class="clickables">mahogany</div>
        </div>
        <br />
        <div class="moreCate">
          <h3>
            <b>
              <u>Ratings</u>
            </b>
          </h3>
          <div class="clickables">
            <link
              rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
            />
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span> and up
          </div>

          <div class="clickables">
            <link
              rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
            />
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span> and up
          </div>

          <div class="clickables">
            <link
              rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
            />
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span> and up
          </div>

          <div class="clickables">
            <link
              rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
            />
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span> and up
          </div>
        </div>

        <br />
        <div class="moreCate">
          <h3>
            <b>
              <u>Delivery</u>
            </b>
          </h3>
          <div class="clickables">less than one week</div>
          <div class="clickables">one to two weeks</div>
          <div class="clickables">two to three weeks</div>
          <div class="clickables">three weeks and up</div>
        </div>
      </div>

      <!-- ---------------------content of sidebar--------------------- -->
    </div>
    <!-- ---------------------this is sidebar--------------------- -->

    <!-- ---button--- -->

    <div id="filter_switch">
      <button class="openbtn" v-on:click="openNav">☰</button>
    </div>
    <!-- ---button--- -->

    <div class="catePage">
      <div class="cardArea">
        <select class="select-css">
          <option>Sort by</option>
          <option>price ↓</option>
          <option>price ↑</option>
          <option>relavence</option>
          <option>ratings</option>
        </select>
        <ApolloQuery :query="require('../graphql/GetListings.gql')" :variables="{ query, categoryName }">
          <template slot-scope="{ result: { loading, error, data } }">
            <!-- Loading -->
            <div v-if="loading" class="loading apollo">Loading...</div>

            <!-- Error -->
            <div v-else-if="error" class="error apollo">{{error}}</div>

            <!-- Result -->
            <div v-else-if="data" class="result apollo" id="card_listing">
              <div v-for="listing in data.listingFeed.listings" v-bind:key="listing.id">
                <ItemCard v-bind:listing="listing" />
              </div>
            </div>

            <!-- No result -->
            <div v-else class="no-result apollo">No result :(</div>
          </template>
        </ApolloQuery>
      </div>
    </div>
  </div>
</template>

<script>
import ItemCard from "../components/ItemCard.vue";
export default {
  name: "Categories",
  data() {
    return {
      categoryName: this.$route.params.categoryName
    };
  },
  components: {
    ItemCard
  },
  props: {
    query: String
  },

  methods: {
    /* this is the sidebar*/
    openNav: function() {
      document.getElementById("mySidebar").style.width = "250px";
    },

    /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
    closeNav: function() {
      document.getElementById("mySidebar").style.width = "0";
    }
  }
};
</script>

<style scoped>
/* this is the sidebar */
.sidebar {
  z-index: 1;
  background-color: rgba(153, 4, 4, 0.747);
  overflow-x: hidden;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 800px;
  height: auto;
  width: 250px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.moreCateArea a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar .closebtn {
  height: 50px;
  width: 50px;
  border: 0;
  margin: 0;
  padding: 0;
  background: transparent;
}

.closebtn a {
  text-align: center;
  padding: 0;
  text-decoration: none;
  font-size: 30px;
  color: red;
  font-weight: bold;
  /* width: fill;
  height: fill; */
}

.openbtn {
  font-size: 18px;
  cursor: pointer;
  background-color: #111;
  color: white;
  border: none;
  padding: 8px 16px;
}

.openbtn:hover {
  background-color: #444;
}

#filter_switch {
  transition: margin-left 0.9s;
  margin-right: 4rem;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

/* this is the sidebar */

.select-css {
  width: 100px;
  height: 35px;
  border: 0;
  margin: 0;
  background-color: rgb(131, 2, 2);
  font-weight: bolder;
  color: white;
  transform: translateY(-30px);
  align-self: flex-start;
  position: absolute;
  -webkit-appearance: listbox;
  padding-left: 10px;
}
.select-css::-ms-expand {
  display: none;
}

.select-css:hover {
  cursor: pointer;
  border: 0;
}
.select-css:focus {
  box-shadow: none;
  outline: none;
  border: 0;
}
.select-css option {
  font-weight: normal;
  position: absolute;
  text-align: center;
}

body {
  padding: 3rem;
}
/*------------------------------------- */
.wholePage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-size: cover;
  overflow: hidden;
}
.title1 {
  margin-left: 5%;
  font-size: 400%;
}
.catePage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: stretch;
  justify-content: flex-start;
  padding: 50px 0;
}

.pic {
  width: 100%;
  height: 200px;
}

.moreCateArea {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
}

.moreCate {
  display: block;
  margin-left: 0px;
  font-size: 100%;
}

.cardArea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  border: 0;
}

#card_listing {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
}

.clickables:hover {
  cursor: pointer;
  color: rgb(172, 169, 169);
}
</style>