<template>
  <div id="login-flex-center">
    <div id="register-box">
      <div>
        <h3 style="text-align:center;">Sign-Up</h3>
        <div id="register-form">
          <p id="login-error-message"></p>First name
          <br />
          <input type="text" name="First name" id="register" />
          <br />
          <br />
          <br />Last name
          <br />
          <input type="text" name="Last name" id="register" />
          <br />
          <br />
          <br />Email
          <br />
          <input type="email" name="email" id="register" />
          <br />
          <br />
          <br />Password (at least 8 characters)
          <br />
          <input type="password" name="Password" id="register" />
          <br />
          <br />
          <br />Re-enter password
          <br />
          <input type="password" name="Re-enter password" id="register" />
          <br >
          <br >
          <!-- Profile Picture
          <br >
          <br >
          <input type="file" accept="image/*" @change="_uploadFile" @click="_setNull" />
          <br />
          <br />
          <br /> -->
          <input @keyup="enterSubmit" type="submit" id="submit-register" value="Continue" @click="submitSignUp" />
          <br />
          <br />
          
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import gql from "graphql-tag";
export default {
  name: "Signup",
  methods: {
    _uploadFile: async function(event) {
      const files = event.target.files;
      const file = files[0];
      const UPLOAD_MUTATION = gql`
        mutation uploadFile($file: Upload!) {
          uploadFile(file: $file) {
            id
          }
        }
      `;
      try {
        const temp = await this.$apollo.mutate({
          mutation: UPLOAD_MUTATION,
          variables: {
            file
          }
        });
      } catch (err) {
        this.showError("Could not upload picture");
      }
    },
    _setNull: function(event) {
      event.target.value = null;
    },
    enterSubmit: function(event){
      // Number 13 is the "Enter" key on the keyboard
      if (event.keyCode === 13) {
        // Cancel the default action, if needed
        event.preventDefault();
        // Trigger the button element with a click
        document.getElementById("submit-login").click();
        }
      },
    //check if sign-up fields are correctly inputed
    submitSignUp: async function() {
      const sing_up_info = {};
      var string = document.getElementsByName("First name")[0].value;
      if (!/^[- a-zA-Z]*$/.test(string)) {
        this.showError("* First name must only contains letters a-z and A-Z");
        return false;
      }
      if (string.length == 0) {
        this.showError("* First name is empty");
        return false;
      }
      sing_up_info.firstname = string;
      string = document.getElementsByName("Last name")[0].value;
      if (!/^[a-zA-Z]*$/.test(string)) {
        this.showError("* Last name must only contains letters a-z and A-Z");
        return false;
      }
      if (string.length == 0) {
        this.showError("* Last name is empty");
        return false;
      }
      sing_up_info.lastname = string;
      string = document.getElementsByName("email")[0].value;
      if (!this.validateEmail(string)) {
        this.showError("* Invalid email was entered");
        return false;
      }
      sing_up_info.email = string;
      //check that passwords match
      string = document.getElementsByName("Password")[0].value;
      var string2 = document.getElementsByName("Re-enter password")[0].value;
      if (string !== string2) {
        this.showError("* Passwords must be matching");
        return false;
      }
      if (string.length < 8) {
        this.showError("* Password must be at least 8 characters long");
        return false;
      }
      sing_up_info.password = string;
      document.getElementById("login-error-message").style.display = "none";

      // all input is valid: we will try to create a new user; The either success, or an error:account with that email already exists
      // MUTATION SIGNUP
      const SIGN_UP_MUTATION = gql`
        mutation SignUp(
          $firstname: String!
          $lastname: String!
          $email: String!
          $password: String!
        ) {
          signup(
            firstName: $firstname
            lastName: $lastname
            email: $email
            password: $password
          ) {
            token
          }
        }
      `;

      const { firstname, lastname, email, password } = sing_up_info;
      try {
        const temp = await this.$apollo.mutate({
          mutation: SIGN_UP_MUTATION,
          variables: {
            firstname,
            lastname,
            email,
            password
          }
        });
        localStorage.setItem("apollo-token-neway", temp.data.signup.token);
        localStorage.setItem("hasCompany", "false");
        // localStorage.setItem("headerChange", true);
        document.getElementById("header-account-status").innerHTML = "Account";
        document.getElementById("logout").style.display = "block";

        this.goBack();
      } catch (err) {
        this.showError("* An account with that email already exists or another unkown error has occured");
        window.console.log(err);
        window.console.log(err.message);
        window.console.log(err.msg);


      }
    },
    showError: function(message) {
      document.getElementById("login-error-message").style.display = "block";
      document.getElementById("login-error-message").innerHTML = message;
      document.body.scrollTop = 120; // For Safari
      document.documentElement.scrollTop = 120; // For Chrome, Firefox, IE and Opera
    },
    validateEmail: function(mail) {
      // expression is probably the best reg ex email validator, but in case of error use re
      const expression = /(?!.*\.{2})^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
      // var re = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
      return expression.test(mail);
    },
    goBack: function() {
      // window.history.length > 2 ? this.$router.go(-2) : this.$router.push('/')
      this.$router.push("/");
    }
  }
};
</script>

<style>
#login-error-message {
  color: red;
  margin: 20px auto;
}
#signup-here {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
#login-signup {
  font-size: 13px;
}
#login-flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
#register-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
#register {
  font-size: 16px;
  width: cover;
  height: 30px;
  border: 2px solid rgb(212, 212, 212);
  margin: 20px 0;
}

#register-form {
  padding: 20px;
  width: 300px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background: white;
  border: 2px solid rgb(224, 224, 224);
  margin: 0 auto;
}

#submit-register {
  width: 200px;
  border-radius: 4px;
  height: 30px;
  background-color: rgb(212, 0, 0);
  cursor: pointer;
  border: 0;
  margin: 10px auto;
}
</style>