<template>
  <!-- TODO LIST: add link for company link-->
  <div id="single-item-flex-container-column">
    <ApolloQuery
      :query="gql => gql`
          query Listing ($id: String) {
            listingFeed(id: $id){      
                listings {
                    id
                    title
                    description
                    quantity
                    price
                    itemPictures{
                        url
                    }
                    postedBy{
                        companyName
                    }
                }
            }
            }`"
      :variables="{ id }"
    >
      <template slot-scope="{ result: { loading, error, data } }">
        <!-- Loading -->
        <div v-if="loading" class="loading apollo">Loading...</div>

        <!-- Error -->
        <div v-else-if="error" class="error apollo">{{error}}</div>

        <!-- Result -->
        <div v-else-if="data" class="result apollo">
          <div id="single-item-flex-container-row">
            <div id="single-item-tab-image-gallery">
              <img id="single-item-image" alt="product's main image" :src="data.listingFeed.listings[0].itemPictures[0].url" />
              <div id="single-item-image-tab">
                <div v-for="image in data.listingFeed.listings[0].itemPictures" v-bind:key="image.id">
                    <img :src="image.url" class='tab-image' @click="changeImage"/>
                </div>

              </div>
            </div>

            <div id="single-item-info">
              <h3 id="single-item-product-name">{{ data.listingFeed.listings[0].title }}</h3>
              <p style="margin-top:10px;">
                by
                <span
                  id="single-item-company-link"
                >{{ data.listingFeed.listings[0].postedBy.companyName }}</span>
              </p>
              <div id="single-item-price">
                CDN$ {{ data.listingFeed.listings[0].price }}
                <span
                  id="single-item-stock"
                >left in stock: {{ data.listingFeed.listings[0].quantity }}</span>
              </div>
              <br />
              <p>{{ data.listingFeed.listings[0].description }}</p>
            </div>
            <div id="single-item-extra-stuff"></div>
            <div id="flex-container-quantity-cart">
              <p id="single-item-error-msg"></p>
              <form>
                Quantity:
                <input id="single-item-quantity" type="number" min="1" max="9999999" />
              </form>
              <div @click="addToCart" id="single-item-add-to-cart">Add to Cart</div>
            </div>
          </div>
          <!-- </div> -->
          <!-- </div> -->
        </div>
        <!-- No result -->
        <div v-else class="no-result apollo">No result :(</div>
      </template>
    </ApolloQuery>
  </div>
</template>

<script>
import gql from "graphql-tag";
export default {
  name: "SingleItem",
  props: {
     query: String
  },
  data: function() {
    return {
      id: this.query
    };
  },
  methods: {
    showError: function(msg) {
      var item = document.getElementById("single-item-error-msg");
      item.style.display = "block";
      item.innerHTML = msg;
    },
    goBack: function() {
      this.$router.push("/");
    },
    changeImage: function(evt){
        document.getElementById("single-item-image").src = evt.target.src;
    },
    addToCart: async function() {
      // get quantity
      const quantity = Number(
        document.getElementById("single-item-quantity").value
      );
      const leftInStock = Number(
        document.getElementById("single-item-stock").innerText.match(/(\d+)/)[0]
      );
      if (!quantity) {
        this.showError("* please choose a quantity");
        return false;
      }
      // check that value is a number greater than 1 and <= what is left in stock
      if (quantity < 1) {
        this.showError("* please choose a quantity greater than 0");
        return false;
      }
      if (quantity > leftInStock) {
        this.showError("* There aren't that many items in stock");
        return false;
      }
      // now that quantity is fine we will attempt to update cart

      const ADD_TO_CART_MUTATION = gql`
        mutation addToCart($listingId: ID!, $quantity: Int!) {
          updateCart(listing: $listingId, quantity: $quantity) 
        }
      `;

      var listingId = this.query;
      try {
        const temp = await this.$apollo.mutate({
          mutation: ADD_TO_CART_MUTATION,
          variables: {
            listingId,
            quantity
          }
        });
        // this.goBack();
        if(temp.data.updateCart=="duplicate"){
          alert("item is already in cart");
          return;
        } 
        alert("congrats item added");
      } catch (err) {
        if (err.message.includes("Not authenticated")) {
          this.$router.push({ path: "/login", query: { something: true } });
        }
        this.showError(
          "* Error occured: Please make sure quantity was correctly enterdadf."
        );
      }
    },

  },
  mounted() {
    // place holders
    // this.product_name = "hammer hammer hammer hammer hammer hammer hammer hammer hammer hammer hammer hammer hammer hammer hammer hammer hammer hammer hammer hammer";
    // this.company_name = " company link";
    // this.price_per_unit = "123";
    // this.left_in_stock = "234";
    // this.extra_info = "extra info extra info extra info extra info extra info extra info extra info extra info extra info extra info extra info extra info extra info extra info extra info extra info"

    // adds image tab gallery for each image in product_image_list
    // document.getElementById("single-item-image").src = this.product_images_list[0];           // first make first image in prod_img_list the initial main image of the page
    // var inner_html = "";
    // for(var i=0; i<this.product_images_list.length;i++){
    //     var string1 = '"single-item-image"';
    //     var string2 = '"'+this.product_images_list[i]+'"';
    //     inner_html+="<img class='tab-image' src='" +this.product_images_list[i] + "' onclick='document.getElementById("+string1+").src = "+string2+";'> \n" ;
    // }
    // document.getElementById("single-item-image-tab").innerHTML= inner_html;
  }
};
</script>

<style>
#single-item-error-msg {
  color: red;
  display: none;
}
#single-item-quantity {
  width: 40px;
  border: 1px black solid;
}
#flex-container-quantity-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid;
  border-left-color: var(--global-color-primary);
  padding-left: 30px;
  height: 350px;
  text-align: center;
}
.tab-image {
  height: 40px;
  width: 40px;
  cursor: pointer;
  border: 1px solid;
  border-color: var(--global-color-primary);
}
.tab-image:hover {
  border: 2px solid;
  border-color: var(--global-color-primary);
}
#single-item-image-tab {
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#single-item-stock {
  color: black;
  margin-left: 20%;
}
#single-item-add-to-cart {
  padding: 10px;
  background-color: rgb(128, 0, 0);
  color: white;
  height: 22px;
  text-align: center;
  text-overflow: ellipsis;
  cursor: pointer;
  align-content: flex-end;
  width: 160px;
  max-width: 160px;
  min-width: 160px;
  margin-top: 30px;
  /* margin-top: 2.4px; */
  /* margin: auto; */
  font-size: 17px;
}
#single-item-product-name {
  font-weight: 550;
  max-height: 80px;
  min-width: 80px;
  width: 115%;
}
#single-item-price {
  color: var(--global-color-accent);
}
#single-item-flex-container-row {
  display: flex;
  flex-direction: row;
}
#single-item-flex-container-column {
  display: flex;
  flex-direction: column;
  margin: 5%;
  margin-bottom: 0;
}
#single-item-image {
  width: 350px;
  height: 350px;
  border-right: 1px solid;
  border-right-color: var(--global-color-primary);
  padding-right: 20px;
}
#single-item-info {
  margin-left: 2%;
  margin-right: 2%;
  width: 100%;
  min-width: 400px;
}
#single-item-extra-stuff {
  margin-left: 4%;
  margin-right: 4%;
}
#single-item-company-link {
  color: blue;
  cursor: pointer;
}
</style>