 <template>
  <div class="page">
    <div class="container0">
      <div class="content00">
        <h2>Step 1: Category</h2>
      </div>
      <!-- first column of categories -->
      <input type="text" placeholder="Select Category" id="cat-display" readonly />
      <div class="content01">
        <!-- <p>Click on the button to open the dropdown menu, and use the input field to search for a specific dropdown link.</p> -->

        <ApolloQuery
          :query="gql => gql`
          query cats{
            categoryList{
              title
            }
          }`"
        >
          <template slot-scope="{ result: { loading, error, data } }">
            <!-- Loading -->
            <div v-if="loading" class="loading apollo">Loading...</div>

            <!-- Error -->
            <div v-else-if="error" class="error apollo">{{error}}</div>

            <!-- Result -->
            <div v-else-if="data" class="result apollo">
              <div class="dropdown">
                <button @click="myFunction" class="dropbtn">Dropdown ↓</button>
                <div id="myDropdown" class="dropdown-content">
                  <input type="text" placeholder="Search.." id="myInput" @keyup="filterFunction" />
                  <!-- ITERATE THROUGH ALL THE CATEGORIES -->
                  <div v-for="listing in data.categoryList" v-bind:key="listing.id" id="cat-info">
                    <a @click="updateInput" class="category-info">{{listing.title}}</a>
                  </div>
                </div>
              </div>
            </div>

            <!-- No result -->
            <div v-else class="no-result apollo">No result :(</div>
          </template>
        </ApolloQuery>
      </div>
    </div>

    <div class="section_container">
      <h2>Step 2: Information</h2>
      <div class="part_container">
        <div class="row_container">
          <p>*price:</p>
          <select id="currency" name="currency">
            <option value="australia">CAD</option>
            <option value="canada">RMB</option>
          </select>
          <input id="price" name="price" placeholder="a price" />
        </div>

        <div class="row_container">
          <p>*name:</p>
          <input id="name" name="name" placeholder="the name of your item" />
        </div>

        <div class="row_container">
          <p>*quantity:</p>
          <input id="quantity" name="quantity" placeholder="How many are in stock" />
        </div>

        <div class="row_container">
          <p>*description:</p>
          <textarea id="descr" name="description" placeholder="a brief description of your item"></textarea>
        </div>

        <div class="row_container">
          <p>*city:</p>
          <select id="city" name="city">
            <option value="australia">Hongkong</option>
            <option value="canada">Yunnan</option>
            <option value="usa">Changsha</option>
            <option value="usa">Shanghai</option>
          </select>
        </div>

        <!-- <div class="row_container">
          <p>address:</p>
          <input id="address" name="address" placeholder="where the item is delivered from" />
        </div>

        <div class="row_container">
          <p>website link:</p>
          <input id="link" name="link" placeholder="URL link to your website" />
        </div> -->
      </div>
    </div>

    <!-- <div class="section_container">
      <h2>Step 3: Contact</h2>
      <div class="part_container">
        <div class="row_container">
          <p>Company Name:</p>
          <input
            id="contactName"
            name="contactName"
            placeholder="Your name or the name of your company"
          />
        </div>
        <br />

        <div class="row_container">
          <p>Phone:</p>
          <input id="phone" name="phone" placeholder="phone number" />
        </div>
        <br />

        <div class="row_container">
          <p>Email:</p>
          <input id="email" name="email" placeholder="Email address" />
        </div>
      </div>
    </div> -->

    <!-- <div class="section_container">
      <h2>Step 4: Placement</h2>
      <div class="part_container">
        <div class="row_container" id="plan_align">
          <p>*Select:</p>
          <select id="placement" name="placement">
            <option value="normal">Normal Placement</option>
            <option value="advanced7">Advanced Placement (7 days)</option>
            <option value>Advanced Placement (14 days)</option>
            <option value>Advanced Placement (1 month)</option>
          </select>
        </div>
        <div class="placement_choice">
          <ul>
            <li>Normal Placement: Your Item will be listed according to standard order (free)</li>
            <li>Advanced Placement (7 days): Your item will be listed first for 7 days ($20.99)</li>
            <li>Advanced Placement (1 month): Your item will be listed first for 1 month ($50.99</li>
            <li>Advanced Placement (1 month): Your item will be listed first for 1 month ($50.99)</li>
          </ul>
        </div>
      </div>
    </div> -->

    <div class="section_container">
      <h2>Step 3: upload image</h2>
      <div class="part_container">
        <div class="row_container" id="img_select">
          <input type="file" accept="image/*" @change="_uploadFile" @click="_setNull" multiple/>
        </div>
      </div>
      <a id="next" @click="submitListing">
        <button id="next_button">Next</button>
      </a>
    </div>
  </div>
</template>

<script>
import gql from "graphql-tag";
export default {
  name: "Upload",
  data: function() {
    return {
      file_id: ""
    };
  },
  methods: {
    submitListing: async function() {
      const title = document.getElementById("name").value;
      const description = document.getElementById("descr").value;
      const price = Number(document.getElementById("price").value);
      const category = document.getElementById("myInput").value;
      const quantity = Number(document.getElementById("quantity").value);
      const file = this.file_id.map((val)=>val.id);

      const LISTING_MUTATION = gql`
        mutation uploadListing(
          $file: [ID!]!
          $title: String!
          $description: String!
          $category: String!
          $price: Float!
          $quantity: Int!
        ) {
          postListing(
            pictureId: $file
            title: $title
            description: $description
            category: $category
            price: $price
            quantity: $quantity
          ) 
        }
      `;
      try {
        const temp = await this.$apollo.mutate({
          mutation: LISTING_MUTATION,
          variables: {
            file,
            title,
            description,
            category,
            price,
            quantity
          }
        });
        alert("item uploaded!");
      } catch (err) {
        window.console.log(err.msg);
        window.console.log(err);
        alert("Could not upload item");
      }
    },
    _uploadFile: async function(event) {
      const files = event.target.files;
      const file = files;
      window.console.log(file);
      const UPLOAD_MUTATION = gql`
        mutation uploadFile($file: [Upload!]!) {
          uploadFiles(files: $file) {
            id
          }
        }
      `;
      try {
        const temp = await this.$apollo.mutate({
          mutation: UPLOAD_MUTATION,
          variables: {
            file
          }
        });
        this.file_id = temp.data.uploadFiles;
      } catch (err) {
        alert("Could not upload picture");
      }
    },
    _setNull: function(event) {
      event.target.value = null;
    },
    myFunction: function() {
      document.getElementById("myDropdown").classList.toggle("show");
    },
    updateInput: function(e) {
      document.getElementById("myInput").value = e.target.innerText;
      document.getElementById("cat-display").value = e.target.innerText;
    },

    filterFunction: function() {
      var input, filter, a, i, txtValue, div;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      div = document.getElementById("myDropdown");
      a = div.getElementsByTagName("a");
      for (i = 0; i < a.length; i++) {
        txtValue = a[i].textContent || a[i].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          a[i].style.display = "";
        } else {
          a[i].style.display = "none";
        }
      }
    }
  }
};
</script>

<style scoped>
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.container0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(207, 207, 207);
  margin: 20px auto;
  width: 60%;
  min-width: 350px;
  padding: 0;
}

.content00 {
  font-size: 14px;
}

.content01 {
  margin: 20px auto;
}

.cateArea {
  margin-left: 5px;
  margin-right: 5px;
}
.cateChoices {
  display: flex;
  flex-direction: column;

  margin-top: 40px;
  margin-left: 30px;
  width: 20%;
  height: 400px;
}

.section_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(207, 207, 207);
  margin: 20px auto;
  width: 60%;
  min-width: 350px;
  padding: 20px 0;
}

.row_container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  height: 30px;
  padding: 10px 0;
  align-items: center;
}

.row_container p {
  width: 100px;
}

#currency {
  background-color: none;
  border: none;
}

.name {
  display: flex;
  flex-direction: row;
  height: 30px;
  padding: 10px 0;
  align-items: center;
}

.name p {
  width: 80px;
}

.quant {
  display: flex;
  flex-direction: row;
  height: 30px;
  padding: 10px 0;
  align-items: center;
}

.quant p {
  width: 80px;
}

#descr {
  border: 0;
  padding: 0;
}

.descript {
  width: 80px;
}

.city {
  margin-left: 54px;
}

#city {
  height: 20px;
  width: 80px;
  border: none;
}

.address {
  margin-left: 30px;
}
#address {
  margin-top: 4px;
  height: 20px;
  width: 200px;
  border: none;
}

.importPic {
  font-weight: bold;
}

.website {
  margin-left: 2px;
}
#link {
  margin-top: 4px;
  height: 20px;
  width: 200px;
  border: none;
}

.contactName {
  margin-left: -70px;
}
#contactName {
  margin-top: 4px;
  height: 20px;
  width: 230px;
  border: none;
}

.phone {
  margin-left: 39px;
}
#phone {
  margin-top: 4px;
  height: 20px;
  width: 100px;
  border: none;
}

.email {
  margin-left: 44px;
}
#email {
  margin-top: 4px;
  height: 20px;
  width: 200px;
  border: none;
}

#placement {
  width: 232px;
}

#plan_align {
  justify-content: center;
}

.placement_choice {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.placement_choice li {
  margin: 10px 0;
}

#img_select {
  justify-content: center;
}

#next {
  width: cover;
  float: right;
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  width: 100px;
  height: 30px;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  box-sizing: border-box;
  /* background-image: url("searchicon.png"); */
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {
  outline: 3px solid #ddd;
  display: inline-block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.category-info {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

#next_button{
  width: 100px;
  height: 25px;
  background: red;
  color: white;
  border: 0;
  cursor: pointer;
}

.show {
  display: block;
}
.show:hover{
  cursor: pointer;
}
.hide {
  display: hidden;
}

#cat-display:hover{
  cursor: pointer;
}
</style>
